body {
    font-family: 'Ubuntu', sans-serif !important;
    overflow: hidden;
}

.navbar-inner .container img.pull-left {
    display: none;
}

.navbar .nav {
    display: none;
}

.custom-logo {
    margin-top: 13px;
}

.brand{
    margin-top:20px;
}

.header {
    margin-top: 40px;
}

.navbar-fixed-top .navbar-inner {
    height: 75px !important;
    background-color: #F2F2F2;
    background-image: inherit;
    border-bottom: 1px solid #000;
}

div[role] > .row:last-child > div{
    height: 100vh;
    overflow: auto;
}
