<div class="form-group">
  <label>
    <span translate="ADMIN_DASHBOARD.CORE.PREFERENCES.SET_TIMEZONE_LABEL"></span>
  </label>
  <toggle-switch
    ng-change="$ctrl.automaticTimezoneToggle()"
    ng-model="$ctrl.automaticTimezone"
    on-label="{{'ADMIN_DASHBOARD.CORE.PREFERENCES.SET_TIMEZONE_ON_LABEL' | translate}}"
    off-label="{{'ADMIN_DASHBOARD.CORE.PREFERENCES.SET_TIMEZONE_OFF_LABEL' | translate}}"
    class="switch-primary">
  </toggle-switch>
</div>

<div class="form-group">
  <label>
    <span translate="ADMIN_DASHBOARD.CORE.PREFERENCES.TIMEZONE_LABEL"></span>
  </label>
  <!-- Using ui-select-choices-lazyload due to perfomance issues -->
  <ui-select
    ng-model="$ctrl.selectedTimezone"
    theme="bootstrap"
    ng-disabled="$ctrl.automaticTimezone"
    ng-change="$ctrl.setTimezone($ctrl.selectedTimezone.value, $ctrl.automaticTimezone);">

    <ui-select-match placeholder="Select timezone">
     {{$select.selected.display}}
    </ui-select-match>

    <ui-select-choices
      ui-select-choices-lazyload
      all-choices="$ctrl.timezones"
      refresh-delay="0"
      repeat="
        timezone as timezone in $select.pagingOptions.items |
        props: { display: $select.search}
        track by timezone.id
      ">
      <div ng-bind-html="timezone.display | highlight: $select.search"></div>
    </ui-select-choices>

  </ui-select>

  <!-- Standard ui-select -->
  <!-- <ui-select
    style="width: 260px;"
    ng-model="$ctrl.selectedTimezone"
    theme="bootstrap"
    ng-change="$ctrl.setTimezone($ctrl.selectedTimezone.value, $ctrl.automaticTimezone); resetTimeSelection()">

    <ui-select-match placeholder="Select timezone">
     {{$select.selected.display}}
    </ui-select-match>

    <ui-select-choices
      refresh-delay="400"
      repeat="
        timezone as timezone in $ctrl.timezones |
        props: { display: $select.search}
        track by timezone.id">
      <div ng-bind-html="timezone.display | highlight: $select.search"></div>
    </ui-select-choices>

  </ui-select> -->

</div>
