<div bb-dashboard-sidebar-wrapper>
  <form  method="get" class="sidebar-form">
    <div class="input-group">
      <input type="text" name="q" class="form-control"
      ng-model="clientsOptions.search" placeholder="Search for a customer...">
      <span class="input-group-btn">
        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
  </form>
  <li ui-sref-active="active" >
    <a ui-sref="clients.all" >
      <i class="fa fa-users"></i>
      <span>All Customers</span>
    </a>
  </li>
  <li ui-sref-active="active" ng-if="current_client">
    <a ui-sref="clients.edit" >
      <i class="fa fa-user"></i>
      <span>{{current_client.name}}</span>
    </a>
  </li>
</div>

<div bb-dashboard-content-wrapper>
  <div>
    <div ui-view></div>
  </div>
</div>
