<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <ul class="nav navbar-nav navbar-user">
      <!-- User Account Menu -->
      <li class="user user-menu ng-cloak" ng-hide="user" >
        <a>&nbsp;</a>
      </li>

      <li class="user user-menu" ng-show="user" dropdown>
        <!-- Menu Toggle Button -->
        <a dropdown-toggle>
          <!-- The user image in the navbar-->
          <img src="images/photo_hold.jpg" class="user-image" alt="User Image">
          <!-- hidden-xs hides the username on small devices so only the image appears. -->
          <span class="hidden-xs">{{user.name}}</span>
        </a>
        <ul class="dropdown-menu">
          <!-- The user image in the menu -->
          <li class="user-header">
            <img src="images/photo_hold.jpg" class="img-circle" alt="User Image">
            <p>
              {{user.role}} : {{user.name}}
              <small>{{user.company_name}}</small>
            </p>
          </li>
        
          <!-- Menu Footer-->
          <li class="user-footer">
            <div class="pull-left">
              <a ui-sref="settings.page({path: 'logins/edit'})" class="btn btn-default btn-flat">Profile</a>
            </div>
            <div class="pull-right">
              <a ui-sref="login" class="btn btn-default btn-flat">Sign out</a>
            </div>
          </li>
        </ul>
      </li>
      <li class="logo-mobile">
        <div class="navbar-logo xs-visible">
          <a href="#"><span class="sr-only">(logo)</span></a>
        </div>
      </li>
    </ul>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top">
      <!-- Navbar Right Menu -->

      <div class="navbar-header">
        <a href="#" class="sidebar-toggle visible-xs"
          data-toggle="offcanvas" role="button" ng-click="navCollapsed = !navCollapsed">
          <i class="fa fa-arrow-circle-right" id="open"></i>
          <i class="fa fa-arrow-circle-left" id="close"></i>
          <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="mobile-logo visible-xs">
          <a href="#"><span class="sr-only">(logo)</span></a>
        </div>
        <button type="button" class="navbar-toggle collapsed"
          ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-bars"></i>
        </button>
      </div>
  
      <div class="navbar-collapse pull-left collapse" id="navbar-collapse"
        ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">
        <ul class="nav navbar-nav ng-cloak" ng-show="user">
          <li ui-sref-active="active">
            <a ui-sref="calendar">Calendar</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="clients.all">Customers</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="checkin">Check In</a>
          </li>
        </ul>
      </div>

      <div class="navbar-logo hidden-sm hidden-xs">
        <a href="#"><span class="sr-only">(logo)</span></a>
      </div>

      <div class="navbar-custom-menu hidden-sm hidden-xs" ng-show="user">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->


        </ul>
      </div>
          
    </nav>
  </header>

  <div class="loader-wrapper" ng-show="isLoading">
    <div class="loader"></div>
  </div>
  <div ui-view ng-class="{no_scroll: adminlte.fixed_page}"></div>

</div><!-- ./wrapper -->
