<!-- Site wrapper -->
<div class="wrapper">
    <header class="main-header">
        <a ui-sref="admin.dashboard" class="logo"></a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a class="sidebar-toggle" ng-click="page.sideMenuOn = !page.sideMenuOn" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown" uib-dropdown>
                        <a href class="dropdown-toggle" uib-dropdown-toggle>
                            <span class="user-image" ng-show="uiData.user.image != ''" ng-style="uiData.user.image && {'background-image': 'url('+uiData.user.image+')'}"></span>
                            &nbsp;<span class="hidden-xs">&nbsp;Hi, {{uiData.user.firstName}} {{uiData.user.lastName}}</span>
                        </a>
                        <ul uib-dropdown-menu class="dropdown-menu">
                            <li><a href ui-sref="cms.profile"><i class="fa fa-user"></i> Profile</a></li>
                            <li><a href ng-click="logout()"><i class="fa fa-power-off"></i> Logout</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href ng-click="page.boxed = !page.boxed" class="visible-lg-inline-block">
                            <span ng-show="!page.boxed" class="glyphicon glyphicon-resize-small"></span>
                            <span ng-show="page.boxed" class="glyphicon glyphicon-resize-full"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    
    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <aside class="main-sidebar" ng-scrollable="{scrollX:'none',scrollY:'right'}" content-height include-header="false" include-footer="false">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <ul class="sidebar-menu">
                <li ng-class="{active: isState('admin.dashboard')}">
                    <a ui-sref="admin.dashboard"><i class="fa fa-dashboard"></i> Dashboard</a>
                </li>
                <li class="header">BOOKINGS</li>
                <li class="treeview" ng-class="{active: isState('admin.calendar')}">
                    <a ui-sref="admin.calendar"><i class="fa fa-calendar"></i> Calendar</a>
                    <ul class="treeview-menu">
                        <li ng-class="{active: isState('admin.calendar.dashboard')}"><a ui-sref="admin.calendar.dashboard"><i class="fa fa-calendar"></i> Dashboard</a></li>
                        <li ng-class="{active: isState('admin.calendar.upcoming')}"><a ui-sref="admin.calendar.upcoming"><i class="fa fa-calendar-plus-o"></i> Upcoming</a></li>
                        <li ng-class="{active: isState('admin.calendar.search')}"><a ui-sref="admin.calendar.search"><i class="fa fa-search"></i> Search</a></li>
                        <li ng-class="{active: isState('admin.calendar.bulk')}"><a ui-sref="admin.calendar.bulk"><i class="fa fa-cloud"></i> Bulk</a></li>
                        <li ng-class="{active: isState('admin.calendar.insights')}"><a ui-sref="admin.calendar.insights"><i class="fa fa-bar-chart"></i> Insights</a></li>
                    </ul>
                </li>
                <li ng-class="{active: isState('admin.customers')}">
                    <a ui-sref="admin.customers"><i class="fa fa-users"></i> Customers</a>
                </li>
                <li ng-class="{active: isState('admin.check-in')}">
                    <a ui-sref="admin.check-in"><i class="fa fa-calendar-check-o"></i> Check in</a>
                </li>
                <li class="header">CONFIGURATION</li>
                <li class="treeview" ng-class="{active: isState('admin.settings')}">
                    <a ui-sref="admin.settings"><i class="fa fa-cogs"></i> Settings</a>
                    <ul class="treeview-menu">
                        <li ng-class="{active: isState('admin.settings.business')}"><a ui-sref="admin.settings.business"><i class="fa fa-home"></i> Your business</a></li>
                        <li ng-class="{active: isState('admin.settings.events')}"><a ui-sref="admin.settings.events"><i class="fa fa-calendar"></i> Events</a></li>
                        <li ng-class="{active: isState('admin.settings.promotions')}"><a ui-sref="admin.settings.promotions"><i class="fa fa-tags"></i> Promotions</a></li>
                        <li ng-class="{active: isState('admin.settings.bookings')}"><a ui-sref="admin.settings.bookings"><i class="fa fa-book"></i> Bookings</a></li>
                    </ul>
                </li>
                <li class="header">MISC</li>
                <li>
                    <a href="http://feedback.bookingbug.com/" target="_blank"><i class="fa fa-question-circle"></i> Knowledge base</a>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" content-height>
        <div ui-view class="animated"></div>
    </div><!-- /.content-wrapper -->

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 2.0
        </div>
        <strong>Copyright &copy; 2016 <a href="http://bookingbug.com" target="_blank">BookingBug</a>.</strong>
    </footer>
</div><!-- ./wrapper -->