<div>
  <div bb-dashboard-sidebar-wrapper>
     <li ui-sref-active="active">
       <a ui-sref="config.page({path: 'resource'})">
         <i class="fa fa-square"></i> <span>Resources</span>
       </a>
     </li>
     <li ui-sref-active="active">
       <a ui-sref="config.page({path: 'person'})">
         <i class="fa fa-user"></i> <span>People</span>
       </a>
     </li>
     <li ui-sref-active="active">
       <a ui-sref="config.page({path: 'service'})">
         <i class="fa fa-list"></i> <span>Services</span>
       </a>
     </li>
     <li ui-sref-active="active" class="treeview">
       <a href="#">
         <i class="fa fa-money"></i> <span>Promotions</span> <i class="fa fa-angle-left pull-right"></i>
       </a>
       <ul class="treeview-menu">
         <li ui-sref-active="active">
           <a ui-sref="config.page({path: 'price/deal/summary'})">Deals</a>
         </li>
         <li ui-sref-active="active">
           <a ui-sref="config.page({path: 'price/block'})">Bulk Purchases</a>
         </li>
       </ul>
     </li>
     <li ui-sref-active="active" class="treeview">
       <a href="#"><i class="fa fa-wrench"></i> <span>Booking Settings</span> <i class="fa fa-angle-left pull-right"></i></a>
     <ul class="treeview-menu">
       <li ui-sref-active="active">
         <a ui-sref="config.page({path: 'detail_type'})">Booking Questions</a>
       </li>
       <li ui-sref-active="active">
         <a ui-sref="config.page({path: 'conf/text/text_edit'})">Booking Text</a>
       </li>
       <li ui-sref-active="active">
         <a ui-sref="config.page({path: 'address'})">Addresses</a>
       </li>
     </ul>
   </li>
 </div>
  <div bb-dashboard-content-wrapper>
    <div>
      <div ui-view></div>
    </div>
  </div>
</div>
