<div ui-view></div>

<!-- <div>
  <div bb-dashboard-sidebar-wrapper>
    <li ui-sref-active="active"><a ui-sref="members.page({path: 'client'})"><i class="fa fa-users"></i> <span>All Clients</span></a></li>
    <li ui-sref-active="active" class="treeview" ng-show="client_id">
      <a ui-sref="members.page({path: 'client/single'})">
        <i class="fa fa-user"></i> <span>Client</span> <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu menu-open">
        <li ui-sref-active="active"><a ui-sref="members.page({path: 'client/edit'})">Basic Details</a></li>
        <li ui-sref-active="active"><a ui-sref="members.page({path: 'client/info'})">Additional Details</a></li>
        <li ui-sref-active="active"><a ui-sref="members.page({path: 'client/purchases'})">Purchase History</a></li>
        <li ui-sref-active="active"><a ui-sref="members.page({path: 'client/future'})">Future Bookings</a></li>
        <li ui-sref-active="active"><a ui-sref="members.page({path: 'client/past'})">Past Bookings</a></li>
        <li ui-sref-active="active"><a ui-sref="members.page({path: 'client/prepaid'})">Prepaid Bookings</a></li>
        <li ui-sref-active="active"><a ui-sref="members.page({path: 'client/children'})">Child Accounts</a></li>
      </ul>
    </li>
    <li ui-sref-active="active"><a ui-sref="members.page({path: 'client/questions'})"><i class="fa fa-question-circle"></i> <span>Questions</span></a></li>
    <li ui-sref-active="active"><a ui-sref="members.page({path: 'export_customers'})"><i class="fa fa-external-link"></i> <span>Export to Mailchimp</span></a>
    </li>
  </div>
  <div bb-dashboard-content-wrapper>
    <div>
    </div>
  </div>
</div> -->
