<div class="content-wrapper" lte-fix-height>
  <div alert ng-repeat="alert in alerts" type="{{alert.type}}"
    close="closeAlert(alert)">
    {{alert.msg}}
  </div>

  <section class="content-header" ng-if="adminlte.heading">
    <h1>
      {{adminlte.heading}}
      <small ng-if="adminlte.subheading" ng-bind='adminlte.subheading'></small>
    </h1>
    <ol class="breadcrumb" ng-if="adminlte.breadcrumbs">
      <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
      <li class="active">Here</li>
    </ol>
  </section>

  <section class="content" ng-transclude></section>
</div>
