<div id="bb">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel($event)">&times;</button>
    <h3 class="modal-title">{{title}}</h3>
  </div>
  <form name="modal_form" ng-submit="submit(modal_form)">
    <div ng-show="loading" class="loader"></div>
    <div class="modal-body" sf-schema="schema" sf-form="form"
      sf-model="form_model" sf-options="{formDefaults: {feedback: false}}"
      ng-hide="loading">
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger pull-left"
        ng-click="cancelEvent($event)">Cancel Booking</button>
      <button class="btn btn-caution pull-left"
        ng-click="success('move')">Move Booking</button>
      <input type="submit" class="btn btn-primary" ng-disabled="loading"
      value="Save Booking">
      <button class="btn btn-default" ng-click="cancel($event)">Close</button>
    </div>
  </form>
</div>
