bower_components
node_modules
npm-debug.log
release/*
docs/*
/.idea/
**/*.js.js
**/*.js.map
.DS_Store

.awspublish-angular.bookingbug.com

test/unit/reports
test/projects/*/dist/

build/*
!build/booking-widget
build/booking-widget/*
!build/booking-widget/bower.json
!build/booking-widget/config.json
!build/booking-widget/src
/gulp-tasks-old/

/test/projects/*/release/
