bower_components
node_modules
npm-debug.log
.DS_Store
release/*
docs/*

/.idea/
**/*.js.js
**/*.js.map
unit-tests/bower_components
unit-tests/reports
.awspublish-angular.bookingbug.com
/test/unit/
/build/services/
/build/public-booking/
/build/settings/
/build/events/
/build/admin/
/build/admin-booking/
/build/admin-dashboard/
/build/member/
/build/core/
