@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
$bb-gray: gray;
$bb-border: $panel-default-border;
$secondary-border-color: #D5D5D5;
$hyperlink-color: #609ABE;
@import "src/admin-booking/stylesheets/main";
@import "src/admin-dashboard/stylesheets/main";
@import "src/core/stylesheets/main";
@import "src/member/stylesheets/main";
@import "src/public-booking/stylesheets/main";
@import "src/services/stylesheets/main";
