<div bb-services>

  <div class="page-summary">
    <p>Select a service.</p>
  </div>

  <div class="panel panel-default" ng-repeat="item in items">
    <div class="panel-body">
      <h2 class="panel-title service-name">{{item.name}}</h2>
      <div class="row">
        <div class="col-sm-2 service-image">
          <img ng-src="{{item.extra.image_url}}" class="img-responsive"/>
        </div>
        <div class="col-sm-8 col-xs-9 service-description">
          {{item.description}}
        </div>
        <div class="col-sm-2 col-xs-3 service-price">
          {{item.price | pretty_price}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 col-sm-offset-10 service-select">
          <button type="button" ng-click="selectItem(item)" class="btn btn-primary btn-block">Select</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row step-navigation">
  <div class="col-sm-2 back">
    <button type="button" class="btn btn-default" bb-debounce ng-click="loadPreviousStep()">Back</button>
  </div>
</div>