<ul class="sidebar-menu">
	<li ng-class="{active: isState('publish')}">
		<a ui-sref="publish"><i class="fa fa-cogs"></i> <span translate>SIDE_NAV.PUBLISH_IRAME_PAGE.PUBLISH</span></a>
		<ul class="treeview-menu">
			<li ui-sref-active="active"><a ui-sref="publish.page({path: 'conf/inset/intro'})"><i class="fa fa-laptop"></i> <span translate>SIDE_NAV.PUBLISH_IRAME_PAGE.PUBLISH_BUSINESS</span></a></li>
	    <li ui-sref-active="active"><a ui-sref="publish.page({path: 'conf/homepage/user_edit'})"><i class="fa fa-cloud-upload"></i> <span translate>SIDE_NAV.PUBLISH_IRAME_PAGE.PUBLIC_SITE</span></a></li>
	    <li ui-sref-active="active"><a ui-sref="publish.page({path: 'conf/inset/view_insets'})"><i class="fa fa-cubes"></i> <span translate>SIDE_NAV.PUBLISH_IRAME_PAGE.CUSTOMISE_WIDGETS</span></a></li>
	    <li ui-sref-active="active"><a ui-sref="publish.page({path: 'event/single'})"><i class="fa fa-cube"></i> <span translate>SIDE_NAV.PUBLISH_IRAME_PAGE.SINGLE_WIDGET</span></a></li>
	    <li ui-sref-active="active"><a ui-sref="publish.page({path: 'conf/inset/book_now'})"><i class="fa fa-check-square"></i> <span translate>SIDE_NAV.PUBLISH_IRAME_PAGE.BOOK_NOW_BUTTONS</span></a></li>
	    <li ui-sref-active="active"><a ui-sref="publish.page({path: 'conf/inset/tools'})"><i class="fa fa-plug"></i> <span translate>SIDE_NAV.PUBLISH_IRAME_PAGE.OTHER_TOOLS</span></a></li>
		</ul>
	</li>
</ul>
