<p class="input-group datepicker">
  <input
  	type="text"
  	uib-datepicker-popup="dd-MMMM-yyyy"
  	ng-model="$ctrl.currentDate"
    ng-change="$ctrl.datePickerUpdated();"
    is-open="$ctrl.datePickerOpened"
    ng-focus="$ctrl.datePickerOpened=true"
    datepicker-options="{'startingDay': 1, 'showButtonBar': false,'showWeeks': false}"
    show-button-bar="false"
    class="form-control"
    >
  <span class="input-group-btn">
    <button type="button" class="btn btn-default datepicker-popup"
      ng-click="$ctrl.openDatePicker($event);">
      <i class="fa fa-calendar"></i>
    </button>
  </span>
</p>
