<div>
	<div class="form-inline calendar-filters" ng-if="!model">
		<div class="form-group">
			<label><span translate="ADMIN_DASHBOARD.CALENDAR_PAGE.SHOW"></span>&nbsp;&nbsp;</label>
			<toggle-switch
				ng-change="changeSelectedResources()"
		    ng-model="showAll"
		    on-label="{{'ADMIN_DASHBOARD.CALENDAR_PAGE.ALL' | translate}}"
		    off-label="{{'ADMIN_DASHBOARD.CALENDAR_PAGE.SOME' | translate}}"
		    class="switch-primary">
		  </toggle-switch>
		</div>
		<div class="form-group" ng-hide="showAll">
			<ui-select multiple ng-model="selectedResources.selected" ng-change="changeSelectedResources()" theme="bootstrap" close-on-select="true" title="Choose a person" style="min-width: 300px;">
			  <ui-select-match placeholder="{{'ADMIN_DASHBOARD.CALENDAR_PAGE.SELECT_STAFF_RESOURCES' | translate}}">{{$item.name}}</ui-select-match>
			  <ui-select-choices repeat="asset in assets | props: {name: $select.search, email: $select.search}">
			    <div ng-bind-html="asset.name | highlight: $select.search"></div>
			    <small ng-show="asset.email">
			      <span translate="ADMIN_DASHBOARD.CALENDAR_PAGE.EMAIL"></span>: {{asset.email}}
			    </small>
			  </ui-select-choices>
			</ui-select>
		</div>
		<div class="form-group" ng-show="loading || calendarLoading"><i class="fa fa-refresh fa-spin"></i></div>
	  <!--<button bb-new-booking type="button" class="btn btn-primary pull-right"
      ng-click="newBooking()" bb-debounce="" translate="ADMIN_DASHBOARD.CALENDAR_PAGE.ADD_BOOKING"></button>-->
	</div>

	<div id="uicalendar" ui-calendar="uiCalOptions.calendar" ng-model="eventSources"
	  ng-if="eventSources" calendar="resourceCalendar"
	  class="resource-calendar"></div>
</div>
