<ul class="sidebar-menu">
	<li ng-class="{active: isState('config')}">
		<a ui-sref="config"><i class="fa fa-cogs"></i> <span translate="ADMIN_DASHBOARD.SIDE_NAV.CONFIG_IFRAME_PAGE.CONFIG"></span></a>
		<ul class="treeview-menu">
			<li ui-sref-active="active"><a ui-sref="config.business"><i class="fa fa-home"></i> <span translate="ADMIN_DASHBOARD.SIDE_NAV.CONFIG_IFRAME_PAGE.YOUR_BUSINESS"></span></a></li>
			<li ui-sref-active="active"><a ui-sref="config.event-settings"><i class="fa fa-ticket"></i> <span translate="ADMIN_DASHBOARD.SIDE_NAV.CONFIG_IFRAME_PAGE.EVENT_SETTINGS"></span></a></li>
			<li ui-sref-active="active"><a ui-sref="config.promotions"><i class="fa fa-tags"></i> <span translate="ADMIN_DASHBOARD.SIDE_NAV.CONFIG_IFRAME_PAGE.PROMOTIONS"></span></a></li>
			<li ui-sref-active="active"><a ui-sref="config.booking-settings"><i class="fa fa-book"></i> <span translate="ADMIN_DASHBOARD.SIDE_NAV.CONFIG_IFRAME_PAGE.BOOKING_SETTINGS"></span></a></li>
    </ul>
	</li>
</ul>
