html,body {
  min-height: 100%;
  height: 100%;
}

.layout-boxed {
  background: url("/img/bg-gray.png");
}

//Animation for the content
.content-wrapper {
  overflow-y: scroll;
  position: relative;

  [ui-view].animated {
    &.ng-enter, &.ng-leave {
      position: absolute;
      left: 0;
      right: 0;
      -webkit-transition:all .3s ease-in-out;
      -moz-transition:all .3s ease-in-out;
      -o-transition:all .3s ease-in-out;
      transition:all .3s ease-in-out;
    }

    &.ng-enter {
      opacity: 0;
      -webkit-transform:translate3d(0, 10%, 0);
      -moz-transform:translate3d(0, 10%, 0);
      transform:translate3d(0, 10%, 0);
    }

    &.ng-enter-active {
      opacity: 1;
      -webkit-transform:none;
      -moz-transform:none;
      transform: none;
    }

    &.ng-leave {
      opacity: 1;
    }

    &.ng-leave-active {
      opacity: 0;
    }
  }
}

.no-gutter {
  padding-right:$grid-gutter-width/2;
  padding-left: $grid-gutter-width/2;

  &> [class*='col-'] {
    padding-right:0;
    padding-left:0;
  }
}

.list-group {
  &.list-group-root {
    padding: 0;
    overflow: hidden;

    .list-group {
      margin-bottom: 0;
    }

    .list-group-item {
      border-radius: 0;
      border-width: 1px 0 0 0;
    }

    &> .list-group-item:first-child {
      border-top-width: 0;
    }

    &> .list-group > .list-group-item {
      padding-left: 30px;
    }

    &> .list-group > .list-group > .list-group-item {
      padding-left: 40px;
    }
  }
}
