$grid-gray: #f5f5f5;
$grid-white: #fdfdfd; 

.bb-grid {
  width: 100%;
  min-height: 800px;
  height: auto;
  border: 1px solid $grid-gray;
  overflow: hidden;
  // row styles
  .ui-grid-row {
    &:hover .ui-grid-cell {
      background-color: $grid-gray;
      cursor: pointer;
    }
    :nth-child(even) .ui-grid-cell {
      background-color: $grid-white;
    }
  }
  // cell styles
  .ui-grid-cell {
    padding-left: 5px;
    line-height: 30px;
    border: 1px solid $grid-gray;
    background-color: $grid-white;
  }
  // header styles
  .ui-grid-header-cell-primary-focus {
    text-align: center;
    margin: 5px;
  }
  .ui-grid-header, .ui-grid-header-cell-wrapper {
    border: 1px solid $grid-gray;
  }
  .ui-grid-header-cell {
    background-color: $grid-white;
    border: 1px solid $grid-gray;
    .ui-grid-icon-cancel {
      display: none;
    }
  }
  .action-column-header {
    padding-top: 40px;
  }
  // column styles
  .ui-grid-column-menu-button-last-col {
    display: none;
  }


  // general styles
  // do we want to show the ui-grid sorting arrow on grid headers 
  .ui-grid-icon-up-dir, .ui-grid-icon-down-dir, .ui-grid-invisible {
    position: absolute;
    display: none;
  }
  .grid-action-btn {
    margin-top: 7px;
    width: 90%;
    margin-left: 5%;
  }
  .member-table-action {
    margin-top: 7px;
    margin-left: 30px;
  }
  input[type="text"].ui-grid-filter-input {
    padding: 5px;
  }
  .fa:hover {
    cursor: pointer;
  }
}

