html,body {
  min-height: 100%;
  height: 100%;
}

.bb-page-frame {
  width:100%;
  height: auto;
  border: none;
  background: transparent;
}

#bb {
  @import "ng-scrollable";
  @import "switch";

  /*BB specific CSS*/
  @import "animations";
  @import "general";
  @import "login";
  @import "form";

  @import "default-theme";
  @import "resource-calendar";
  @import "widget";
}

#bb .modal-content .bb-content, .modal-content #bb .bb-content{
	min-height: 100px !important;
}

.modal-content .modal-body #bb {
  &.container-fluid {
    padding-top: 10px;

    .bb-step-navigation {
      margin-bottom: 0;
    }
  }
}

//Module overwrite
[bb-admin-dashboard] {

  .uib-separator {
    padding: 0px 1px 0px 1px;
  }

  .form-group {
    &.schema-form-duration {
      position: relative;
    }
    &.schema-form-duration > .form-control-feedback {
      top: 23px;
    }
  }

}

.bb-grid {
  width: 100%;
  min-height: 800px;
  height: auto;
  .ui-grid-column-menu-button-last-col {
    display: none;
  }
  .ui-grid-cell {
    line-height: 30px;
    background-color: #fdfdfd;
  }
  .ui-grid-header-cell-primary-focus {
    text-align: center;
  }
  .ui-grid-header-cell {
    background-color: #fdfdfd;
    .ui-grid-icon-cancel {
      display: none;
    }
  }
  .ui-grid-header-cell-primary-focus {
    margin: 5px;
  }

  .action-column-header {
    padding-top: 40px;
  }
}
.ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color: white;
}

input[type="text"].ui-grid-filter-input {
  padding: 5px;
}