
@import "skin_bb";

.bb-page-frame {
  width:100%;
  height: auto;
  border: none;
  background: transparent;
}

.clickable {
  cursor: pointer;
}

//bootstrap overrides
.panel-heading {
  .btn-sm {
    position: relative;
    top:5px;
  }
}

@import "resource_calendar";

#bb .modal-content .bb-content, .modal-content #bb .bb-content{
	min-height: auto !important;
}

.modal-content .modal-body #bb {
  &.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;

    .bb-display-mode {
      line-height: 1px;
    }
  }
}
