.tablet-customers {
  .full-block {
    background-color: #FFF;
    border-top: 1px solid #CCC;
    padding: 5px 10px;
    vertical-align: middle;
    
    &:last-child {
      border-bottom: 1px solid #CCC;
    }
    
    a {
      color: #333;
      &:hover {
        text-decoration: none;
      }

      .details {
        font-size: 90%;
        color: #336E57;
      }
    }
    
    &:hover {
      background-color: whitesmoke;
    }
  }
}
