<form
  name="memberForm"
  ng-submit="submit(memberForm, member)"
  ng-hide="loading">

  <div
    class="form-group"
    ng-class="{'has-error': memberForm.first_name.$invalid && !memberForm.first_name.$pristine, 'has-success': memberForm.first_name.$valid}">
    <label
      class="control-label"
      for="first_name"
      translate="PUBLIC_BOOKING.MEMBER_TERMINOLOGY.FIRST_NAME_LBL">
    </label>
    <input
      type="text" 
      class="form-control"
      name="first_name"
      id="first_name"
      ng-model="member.first_name"
      required 
      autocomplete="given-name"
    />
  </div>

  <div
    class="form-group"
    ng-class="{'has-error': memberForm.last_name.$invalid && !memberForm.last_name.$pristine, 'has-success': memberForm.last_name.$valid}">
    <label
      class="control-label"
      for="last_name"
      translate="PUBLIC_BOOKING.MEMBER_TERMINOLOGY.LAST_NAME_LBL">
    </label>
    <input
      type="text"
      class="form-control"
      name="last_name"
      id="last_name"
      ng-model="member.last_name"
      required
      autocomplete="family-name"
    />
  </div>

  <div
    class="form-group"
    ng-class="{'has-error': memberForm.email.$invalid && !memberForm.email.$pristine, 'has-success': memberForm.email.$valid}">
    <label
      class="control-label"
      for="email"
      translate="PUBLIC_BOOKING.MEMBER_TERMINOLOGY.EMAIL_LBL">
    </label>
    <input
      type="email"
      class="form-control"
      name="email"
      id="email"
      ng-model="member.email"
      required
      autocomplete="email"
    />
  </div>

  <div
    class="form-group"
    ng-class="{'has-error': memberForm.phone.$invalid && !memberForm.phone.$pristine, 'has-success': memberForm.phone.$valid}">
    <label
      class="control-label"
      for="phone"
      translate="PUBLIC_BOOKING.MEMBER_TERMINOLOGY.PHONE_LBL">
    </label>
    <input
      type="text"
      class="form-control"
      name="phone"
      id="phone"
      ng-model="member.phone"
      autocomplete="tel"
    />
  </div>

  <div
    class="form-group"
    ng-class="{'has-error': memberForm.mobile.$invalid && !memberForm.mobile.$pristine, 'has-success': memberForm.mobile.$valid && !memberForm.mobile.$pristine}">
    <label
      class="control-label"
      for="mobile"
      translate="PUBLIC_BOOKING.MEMBER_TERMINOLOGY.MOBILE_LBL">
    </label>
    <input
      type="text"
      class="form-control"
      name="mobile"
      id="mobile"
      ng-model="member.mobile"
      autocomplete="tel"
    />
  </div>

  <div
    ng-repeat="question in member.questions"
    class="form-group"
    ng-class="{'has-error': memberForm['q' + question.id].$invalid && !memberForm['q' + question.id].$pristine, 'has-success': memberForm['q' + question.id].$valid}">
    <label
      class="control-label"
      for="{{question.id}}">
      {{question.name}}
    </label>
    <input
      class="form-control"
      bb-question="question"
    />
  </div>

  <div class="form-group">
    <button
      type="submit"
      class="btn btn-primary"
      translate="PUBLIC_BOOKING.MEMBER_FORM.SAVE_BTN">
    </button>
  </div>

</form>
