<form
  name="login_form"
  ng-submit="validator.validateForm(login_form) && submit()"
  class="form-horizontal"
  role="form"
  bb-form 
  novalidate>

    <div
      class="form-group"
      ng-class="{'has-error': login_form.email.$invalid && (!login_form.email.$pristine || login_form.submitted)}">
      <label
        for="email"
        class="control-label col-sm-4"
        translate="PUBLIC_BOOKING.MEMBER_LOGIN_FORM.EMAIL_LABEL">
      </label>
      <div class="col-sm-5">
        <input
          type="text"
          name="email"
          id="email"
          required
          ng-model="login.email"
          class="form-control"
          ng-pattern="validator.getEmailPattern()" 
          autocomplete="email"
        />
      </div>
      <divclass="col-sm-offset-4 messages">
        <div
          class="error-message"
          ng-show="login_form.email.$error.required && login_form.submitted"
          translate="PUBLIC_BOOKING.MEMBER_LOGIN_FORM.EMAIL_REQUIRED">
        </div>
        <div
          class="error-message"
          ng-show="login_form.email.$error.pattern && login_form.submitted"
          translate="PUBLIC_BOOKING.MEMBER_LOGIN_FORM.EMAIL_INVALID">
        </div>
      </div> 
    </div>
  
    <div
      class="form-group"
      ng-class="{'has-error': login_form.password.$invalid && (!login_form.password.$pristine || login_form.submitted)}">
      <label
        for="password"
        class="control-label col-sm-4"
        translate="PUBLIC_BOOKING.MEMBER_LOGIN_FORM.PASSWORD_LABEL"></label>
      <div class="col-sm-5">
        <input
          type="password"
          name="password"
          id="password"
          required
          ng-model="login.password"
          class="form-control"
        />
      </div>
      <div class="col-sm-offset-4 messages">
        <div
          class="error-message"
          ng-show="login_form.password.$invalid && login_form.submitted"
          translate="PUBLIC_BOOKING.MEMBER_LOGIN_FORM.PASSWORD_REQURIED">
        </div>
      </div> 
    </div>

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-5">
        <div class="checkbox">
          <label>
            <input
              type="checkbox"
              ng-model="login.persist_login">
              <span translate="PUBLIC_BOOKING.MEMBER_LOGIN_FORM.REMEMBER_ME"></span>
          </label>
        </div>
      </div> 
    </div>

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-5">
        <button
          type="submit"
          class="btn btn-primary btn-block"
          translate="PUBLIC_BOOKING.MEMBER_LOGIN_FORM.LOGIN_BTN">
        </button>
      </div>
    </div>

</form>
