<div class="bb-filters">

  <div uib-accordion close-others="true">
    <div uib-accordion-group is-open="is_open" ng-class="{'expanded': is_open, 'selected': is_selected}" class="store-body">

      <div uib-accordion-heading class="filter-header">
        <span translate="PUBLIC_BOOKING.SERVICE_LIST_FILTER.FILTER"></span>
        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
      </div>

      <form class="form-inline">

        <div ng-if="all_categories" class="form-group">
          <label class="sr-only"><span translate="PUBLIC_BOOKING.SERVICE_LIST_FILTER.FILTER_CATEGORY"></span></label>
          <select class="form-control" type="text" name="category" id="category" ng-model="filters.category_name" ng-options="item.name for item in all_categories" ng-change="filterChanged()">
            <option  value=""><span translate="PUBLIC_BOOKING.SERVICE_LIST_FILTER.FILTER_ANY"></span><span translate="PUBLIC_BOOKING.SERVICE_LIST_FILTER.FILTER_CATEGORY"></span></option>
          </select>
        </div>

        <div class="form-group">
          <label class="sr-only"><span translate="PUBLIC_BOOKING.SERVICE_LIST_FILTER.ITEM_SERVICE"></span></label>
          <input class="form-control" type="text" ng-model="filters.service_name" ng-change="filterChanged()" placeholder="{{ 'ITEM_SERVICE' | translate }}"/>
        </div>

        <div class="form-group">
          <div bb-price-filter></div>
        </div>

        <div class="form-group">
          <button type="button" class="btn btn-link" ng-click="resetFilters()">
            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span><span translate="PUBLIC_BOOKING.SERVICE_LIST_FILTER.FILTER_RESET"></span>
          </button>
        </div>

      </form>

    </div>
  </div>
</div>
