<div bb-page>

  <div class="page-summary">
    <div bb-include="_basket_item_summary">
    </div>
  </div>

  <div bb-time-ranges="{selected_day: today}" bb-scroll-to="time:selected" class="bb-calendar" ng-show="days"></div>

  <div class="bb-step-navigation">
    <div class="row">
      <div class="col-sm-offset-7 col-sm-3 col-sm-push-2 text-right">
        <button type="button" class="btn btn-primary btn-block" ng-click="checkReady() && routeReady()" bb-debounce ng-disabled="!bb.current_item.time">
          <span ng-if="!bb.moving_booking">Continue</span>
          <span ng-if="bb.moving_booking">Move booking</span>
        </button>
      </div>
      <div class="col-sm-2 col-sm-pull-10 text-left">
        <button type="button" class="btn btn-default btn-block" bb-debounce ng-click="loadPreviousStep()" ng-if="!bb.moving_booking">Back</button>
      </div>
    </div>
  </div>

</div>
