<div bb-categories>

  <div class="page-summary">
    <p translate="PUBLIC_BOOKING.CATEGORY.STEP_DESCRIPTION"></p>
  </div>

  <div
    class="panel panel-default"
    ng-repeat="item in items">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-8">
          <h2 class="booking-form-header">{{item.name}}</h2>
          <p class="bb-service-description">{{item.description}}</p>
        </div>
        <div class="col-md-4">
          <button
            type="button"
            ng-click="selectItem(item)"
            class="btn btn-primary btn-block"
            translate="PUBLIC_BOOKING.CATEGORY.BOOK_BTN">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row bb-step-navigation">
  <div class="col-sm-2 back">
    <button
      type="button"
      class="btn btn-secondary"
      bb-debounce
      ng-click="loadPreviousStep()"
      translate="PUBLIC_BOOKING.CATEGORY.BACK_BTN">
    </button>
  </div>
</div>
