<div bb-checkout>
  <div ng-if="total.$has('new_payment')">
    <h1>Payment</h1>
    <div bb-include="_service_item_aggregate"></div>
    <h2 class="booking-form-header">Payment details</h2>
    <div class="bb-checkout-pay-button-div">
      <div bb-payment-button
        class="btn btn-primary" 
        total="total" 
        bb="bb"
        decide-next-page="decideNextPage"
        value="Pay">
      </div>
    </div>
  </div>
</div>

<div ng-show="isLoaded" class="powered-by visible-print">
  <p>Bookings powered by <span style="color:#087f94">booking</span><span style="color:#88c66f">bug</p>
  <a href="//www.bookingbug.com" style="text-decoration:none" target="_blank"></a>
</div>
