<div bb-page>

  <div
    bb-include="_basket_item_summary"
    ng-show="bb.current_item.service">
  </div>

  <h2 class="booking-form-header">
    <span
      ng-show="!isAdmin()"
      translate="PUBLIC_BOOKING.CLIENT.STEP_HEADING">
    </span>
    <span
      ng-show="isAdmin()"
      translate="PUBLIC_BOOKING.CLIENT.ADMIN_STEP_HEADING">
    </span>
  </h2>

  <div
    ng-form
    name="client_form"
    role="form"
    novalidate
    bb-form
    class="form-horizontal"
    bb-form-route>

    <div bb-client-details></div>

    <div class="bb-step-navigation">

      <div class="row">

        <div class="col-xs-9 col-xs-push-3 text-right">
          <button
            type="submit"
            class="btn btn-primary"
            ng-click="submitForm()"
            translate="PUBLIC_BOOKING.CLIENT_FORM.NEXT_BTN">
          </button>
        </div>

        <div class="col-xs-3 col-xs-pull-9 text-left">
          <button
            type="button"
            class="btn btn-primary"
            ng-click="loadPreviousStep()"
            ng-show="bb.current_step > 1"
            translate="PUBLIC_BOOKING.CLIENT_FORM.BACK_BTN">
          </button>
        </div>
      </div>

    </div>

  </form>

</div>
