<div bb-admin-booking-clients ng-init="per_page=5000">
  <div tabset>
    <div tab heading="Search for a client">
      <div ng-form="client_search_form" class="form-horizontal">
        <label for="search" class="control-label col-sm-4">Search by Name or URL</label>
        <form ng-submit="getClients(null, searchText)">
          <div class="col-sm-5">
            <div class="input-group">
              <input type="search" name="search" id"search" ng-model="searchText" class="form-control"/>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" bb-debounce>Search</button>
              </span>
            </div>
          </div>
        </form>
         <div class="col-sm-offset-4 messages">
          <div class="error-message" ng-show="search_error">
            Sorry, your search must be more than 3 characters long. Please try again.
          </div>          
         </div>
       </div>

      <br clear='all'/>
      <div ng-if="clients">
        <h2 class="section-title">Results</h2>
        <table tr-ng-grid="" items="clients" enable-filtering="false" enable-sorting="true" order-by="name" page-items="10" selection-mode="0">
          <thead>
            <tr>
              <th field-name="name" enable-filtering="false" enable-sorting="true"></th>
              <th field-name="email" enable-filtering="false" enable-sorting="true"></th>
              <th field-name="address" enable-filtering="false" enable-sorting="false"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td field-name="name" ng-bind="gridItem.name"></td>
              <td field-name="email" ng-bind="gridItem.email"></td>
              <td field-name="address" ng-bind="gridItem.addressSingleLine()"></td>
              <td>
                <button class="btn btn-primary btn-block" ng-click="selectClient(gridItem)">Select</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
       <div class="row step-navigation">
        <div class="col-sm-2 back">
          <button type="button" class="btn btn-default" bb-debounce ng-click="loadPreviousStep()">Back</button>
        </div>
      </div> 
  </div>
  <div tab heading="New client">
    <div bb-include="client"></div>
  </div>
  </div>
</div>
