<div bb-admin-booking-clients>
  <div class="page-subheader-var">
    <h1>Search for a customer or create a new one</h1>
  </div>
  <div class="row">
    <div class="admin-typehead-wrapper">
      <div class="input-group">
      <input class="admin-typehead input-lg form-control" ng-model="typehead_result" placeholder="Search Email or Name" typeahead="item.name for item in searchClients($viewValue)" typeahead-template-url="_typehead.html" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control" typeahead-on-select="typeHeadResults($item, $modal, $label)">
      <span class="input-group-btn">
        <button class="btn btn-primary form-control-btn btn-search-anyway" ng-click="getClients(null, typehead_result)"><i class="fa fa-search"></i></button>
      </span>
    </div>
    </div>
  </div>
  <div ng-if="search_triggered" class="search-results">
    <button class="btn-link pull-right" style="margin-bottom: 10px;" ng-click="clearSearch()">Clear Results</button>
    <div class="clearfix"></div>
    <div ng-repeat="item in clients | startFrom: (pagination.current_page - 1) * pagination.page_size | limitTo: pagination.page_size">
      <div class="typehead-client-wrapper row">
        <div class="col-sm-10">
          <span ng-show="item.name" style="font-weight: bold; font-size: 20px;">{{item.name}}</span>
          <br /><span ng-show="item.email"><i class="fa fa-envelope-o"></i> </span>{{item.email}}</span>
          <br /><span ng-show="item.phone"><i class="fa fa-phone"></i> </span>{{item.phone}}</span>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-primary btn-block" ng-click="selectClient(item);">Select</button>
        </div>
        <div class="clearfix">

        </div>
      </div>
    </div>
    <pagination total-items="pagination.num_items"
      ng-model="pagination.current_page" items-per-page="pagination.page_size"
      max-size="pagination.max_size" boundary-links="true" rotate="false"
      num-pages="pagination.num_pages"></pagination>
  </div>
  <div ng-show="client.name">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span style="font-family: proxbold;">{{client.name}}</span>
        <i class="fa fa-times panel-client-close" ng-click="client = null"></i>
      </div>
      <div class="panel-body">
        <p ng-show="client.id"><span style="font-family: proxbold;">ID: </span>{{client.id}}</p>
        <p ng-show="client.email"><span style="font-family: proxbold;">Email: </span>{{client.email}}</p>
        <p ng-show="client.phone"><span style="font-family: proxbold;">Phone: </span>{{client.phone}}</p>
        <button class="btn btn-primary pull-right" ng-click="selectClient(client)">Select</button>
      </div>
    </div>
  </div>
  <hr />
<div ng-hide="clients || client.name" class="admin-create-client">
  <h3>Create New Customer</h3>
  <div ng-form name="client_form" class="form-horizontal admin-form-submit" role="form" novalidate>
    <div class="form-group" ng-class="{'has-error': client_form.first_name.$invalid && client_form.submitted}">
      <label for="first_name" class="control-label col-sm-4">First Name*:</label>
      <div class="col-sm-5">
        <input type="text" name="first_name" id="first_name" required ng-model="client.first_name" class="form-control"/>
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error': client_form.last_name.$invalid && client_form.submitted}">
      <label for="last_name" class="control-label col-sm-4">Last Name*:</label>
      <div class="col-sm-5">
        <input type="text" name="last_name" id="last_name" required ng-model="client.last_name" class="form-control"/>
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error': client_form.email.$invalid && client_form.submitted}">
      <label for="email" class="control-label col-sm-4">E-mail*:</label>
      <div class="col-sm-5">
        <input type="email" name="email" id="email" required ng-model="client.email" class="form-control"/>
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error': client_form.mobile.$invalid && client_form.submitted}">
      <label for="mobile" class="control-label col-sm-4">Mobile:</label>
      <div class="col-sm-5">
        <input type="text" name="mobile" id="mobile" ng-model="client.mobile" class="form-control"/>
      </div>
    </div>

    <div ng-show="bb.company_settings.ask_address">
       <div class="form-group" ng-class="{'has-error': client_form.address1.$invalid && ((client_form.address1.$dirty && !client_form.address1.$focused) || booking_form.submitted)}">
          <label for="address1" class="control-label col-sm-4">Address:</label>
          <div class="col-sm-5">
            <input type="text" name="address1" id="address1" ng-model="client.address1" class="form-control"/>
          </div>
          <div class="col-sm-3 messages">
            <div class="error-message" ng-show="client_form.address1.$invalid && booking_form.submitted">
              Please enter your address
            </div>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': client_form.address2.$invalid && ((client_form.address2.$dirty && !client_form.address2.$focused) || booking_form.submitted)}">
          <label for="address2" class="control-label col-sm-4"></label>
          <div class="col-sm-5">
            <input type="text" name="address2" id="address2" ng-model="client.address2" class="form-control"/>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': client_form.address3.$invalid && ((client_form.address3.$dirty && !client_form.address3.$focused) || booking_form.submitted)}">
          <label for="address3" class="control-label col-sm-4">Town:</label>
          <div class="col-sm-5">
            <input type="text" name="address3" id="address3" ng-model="client.address3" class="form-control"/>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': client_form.address4.$invalid && booking_form.submitted}">
          <label for="address4" class="control-label col-sm-4">County:</label>
          <div class="col-sm-5">
            <input type="text" name="address4" id="address4" ng-model="client.address4" class="form-control"/>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': client_form.postcode.$invalid && ((client_form.postcode.$dirty && !client_form.postcode.$focused) || booking_form.submitted)}">
          <label for="postcode" class="control-label col-sm-4">Postcode:</label>
          <div class="col-sm-5">
            <input type="text" name="postcode" id="postcode" ng-model="client.postcode" class="form-control"/>
          </div>
        </div>
    </div>

    <div bb-client-details ng-show="client_details.hasQuestions">

  <!--           <div class="form-group" ng-repeat="question in client_details.questions" ng-if="question.currentlyShown" bb-question-line ng-class="{ 'check': question.detail_type == 'check', 'has-error': client_form['q' + question.id].$invalid && client_form.submitted}"> -->
  <!--           <div class="form-group" ng-repeat="question in client_details.questions" ng-if="question.currentlyShown" bb-question-line ng-class="{ 'check': question.detail_type == 'check', 'has-error': question.required && client_form.submitted}">
        <label ng-hide="question.detail_type == 'check'" for="{{question.id}}" class="control-label col-sm-4">{{question.name}}<span ng-show="question.required">*</span></label>
        <div ng-show="question.detail_type == 'check'" class="col-sm-4 hidden-xs">&nbsp;</div>
        <div class="col-sm-5">
          <input bb-question="question"/>
        </div>
        <div class="col-sm-offset-4 messages">
          <div class="error-message" ng-show="question.required && client_form.submitted">
            This field is required
          </div>
        </div>
      </div>
  -->
    </div>

  </div>
  <button type="submit" class="btn btn-primary col-sm-offset-7 col-sm-2" ng-click="validator.validateForm(client_form) && createClient()" bb-debounce>Create Customer</button>
</div>
