<div bb-page>

  <div bb-event>

    <div
      class="event-header"
      bb-background-image="event.image.url">

      <div class="event-details">

        <h1 class="truncate-sm">{{event.chain.name}}</h1>

        <ul class="row event-summary-list">

          <li class="col-xs-6 col-sm-4 date truncate-xs">
            <span class="fa fa-calendar-o"></span>
            <span class="hidden-xs">{{event.date | datetime:'dddd '}}</span>
            <span>{{event.date | datetime:'Do MMMM YYYY'}}</span>
          </li>

          <li class="col-xs-6 col-sm-4 time truncate-xs">
            <span
              class="fa fa-clock-o"
              aria-hidden="true">
            </span>
            <span
              class="event-time"
              ng-bind="event.date | datetime:'LT'">
            </span>
            &ndash;
            <span ng-bind="event.end_datetime | datetime: 'LT'"></span>
          </li>

          <li class="hidden-xs col-sm-4 duration truncate-xs">
            <span class="fa fa-hourglass-half"></span>
            <span ng-bind="event.duration | time_period"></span>
          </li>

          <li
            class="col-xs-12 location"
            ng-show="event.chain.address">
            <span class="fa fa-map-marker"></span>
            <span ng-bind="event.chain.address | address_single_line"></span>
          </li>

        </ul>
      </div>
    </div>

    <div
      class="panel panel-default event-description"
      ng-show="event.chain.description">
      <div class="panel-body">
        <p ng-bind-html="event.chain.description"></p>
      </div>
    </div>

    <div
      class="panel panel-default"
      ng-show="event.chain.long_description">
      <div class="panel-body">
        <div>
          <h2
            class="heading"
            translate="PUBLIC_BOOKING.EVENT.EVENT_DETAILS_HEADING">
          </h2>
          <p ng-bind-html="event.chain.long_description"></p>
        </div>

        <div
          bb-custom-booking-text
          class="bb-custom-booking-text text-block">
          <p
            ng-repeat="msg in messages"
            ng-bind-html="msg">
          </p>
        </div>
      </div>
    </div>

    <div class="panel panel-default event-tickets">

      <div class="panel-body">

        <h2
          ng-show="bb.basket.hasWaitlistItem()"
          class="heading"
          ng-bind="!selected_tickets ? 'Waitlist' : 'Waitlist summary'">
          <span
            translate="PUBLIC_BOOKING.EVENT.WAITLIST_SUMMARY_HEADING"
            ng-show="selected_tickets">
          </span>
          <span
            translate="PUBLIC_BOOKING.EVENT.WAITLIST_HEADING"
            ng-hide="selected_tickets">
          </span>
        </h2>

        <h2
          ng-show="!bb.basket.hasWaitlistItem()"
          class="heading"
          ng-bind="!selected_tickets ? 'Tickets' : 'Ticket summary'">
          <span
            translate="PUBLIC_BOOKING.EVENT.TICKET_SUMMARY_HEADING"
            ng-show="selected_tickets">
          </span>
          <span
            translate="PUBLIC_BOOKING.EVENT.TICKETS_HEADING"
            ng-hide="selected_tickets">
          </span>
        </h2>

        <div
          ng-form
          name="ticket_form"
          role="form">

          <ul class="ticket-list">

            <li class="header">
              <div class="row">
                <div class="col-sm-6 col-xs-6">
                  <span translate="PUBLIC_BOOKING.EVENT.TICKET_TYPE_COL_HEADING"></span>
                </div>
                <div class="col-sm-3 col-xs-4">
                  <span translate="PUBLIC_BOOKING.EVENT.TICKET_PRICE_COL_HEADING"></span>
                </div>
                <div class="col-sm-3 col-xs-2">
                  <span translate="PUBLIC_BOOKING.EVENT.TICKET_QTY_COL_HEADING"></span>
                </div>
              </div>
            </li>

            <li ng-repeat="ticket in event.tickets">
              <div class="row">

                <div class="col-sm-6 col-xs-6">
                  <span>{{ticket.fullName()}}</span>
                </div>

                <div class="col-sm-3 col-xs-4">
                  <span>
                    {{ticket.price | pretty_price}}
                  </span>
                  <small ng-show="ticket.counts_as">
                    <i
                      translate="PUBLIC_BOOKING.EVENT.FOR_NUM_TICKETS" translate-values="{count_as: ticket.counts_as}">
                    </i>
                  </small>
                </div>

                <div
                  ng-show="event.getSpacesLeft() > 0 || event.getWaitSpacesLeft() > 0"
                  class="col-sm-3 col-xs-2">
                  <span ng-show="selected_tickets">{{ticket.qty}}</span>
                  <select
                    ng-if="!selected_tickets"
                    ng-model="ticket.qty"
                    ng-options="n as n for n in ticket.getRange(event)">
                    <option value="">-</option>
                  </select>
                </div>

                <div
                  ng-show="event.getSpacesLeft() == 0 && event.getWaitSpacesLeft() == 0" class="col-sm-3 col-xs-2">
                  <span translate="PUBLIC_BOOKING.EVENT.EVENT_SOLD_OUT"></span>
                </div>

              </div>
            </li>

            <li ng-show="selected_tickets && bb.basket.questionPrice()">
              <div class="row">
                <div class="col-sm-6 col-xs-6 text-right">
                  <span translate="PUBLIC_BOOKING.EVENT.ADD_ONS_LBL"></span>
                </div>
                <div class="col-sm-3 col-xs-6">
                  {{bb.basket.questionPrice() | pretty_price}}
                </div>
              </div>
            </li>

            <li ng-show="selected_tickets && (bb.basket.hasCoupon() || bb.basket.hasDeal())">
              <div class="row">
                <div class="col-sm-6 col-xs-6 total-label">
                  <span translate="PUBLIC_BOOKING.EVENT.SUBTOTAL_LBL"></span>
                </div>
                <div class="col-sm-3 col-xs-6">
                  {{bb.basket.fullPrice() | pretty_price}}
                </div>
              </div>
            </li>

            <li ng-show="selected_tickets && bb.basket.hasDeal()">
              <div class="row">
                <div class="col-sm-6 col-xs-6 text-right">
                  <span translate="PUBLIC_BOOKING.EVENT.GIFT_CERT_LBL"></span>
                </div>
                <div class="col-sm-3 col-xs-6">
                  <div>{{bb.basket.totalDealPaid() | pretty_price}}</div>
                </div>
              </div>
            </li>

            <li ng-show="selected_tickets && bb.basket.hasCoupon()">
              <div class="row">
                <div class="col-sm-6 col-xs-6 text-right">
                  <span translate="PUBLIC_BOOKING.EVENT.DISCOUNT_LBL"></span>
                </div>
                <div class="col-sm-3 col-xs-6">-{{bb.basket.totalCoupons() | pretty_price}}
                  <!-- <span>(10%)</span></div> -->
                </div>
              </div>
            </li>

            <li ng-show="selected_tickets && bb.basket.totalPrice() > 0">
              <div class="row">
                <div class="col-sm-6 col-xs-6 total-label">
                  <span translate="PUBLIC_BOOKING.EVENT.BASKET_TOTAL_LBL"></span>
                </div>
                <div class="col-sm-3 col-xs-6">
                  <strong>{{bb.basket.totalPrice() | pretty_price}}</strong>
                </div>
              </div>
            </li>

            <li ng-show="selected_tickets && bb.basket.dueTotal() > 0">
              <div class="row">
                <div class="col-sm-6 col-xs-6 total-label">
                  <span translate="PUBLIC_BOOKING.EVENT.BASKET_TOTAL_DUE_LBL"></span>
                </div>
                <div class="col-sm-3 col-xs-6">
                  <strong>{{bb.basket.dueTotal() | pretty_price}}</strong>
                </div>
              </div>
            </li>

          </ul>

        </div>

      </div>
    </div>

    <form
      name="booking_form"
      role="form"
      novalidate
      bb-form>

      <div
        class="panel panel-default event-client-details"
        ng-if="selected_tickets">

        <div class="panel-body">

          <h2 translate="PUBLIC_BOOKING.EVENT.CUSTOMER_DETAILS_HEADING"></h2>

          <div bb-client-details></div>

          <div
            uib-accordion
            close-others="false"
            ng-init="use_my_details = true">

            <div
              ng-repeat="item in current_ticket_items"
              bb-count-ticket-types="current_ticket_items">

              <div
                ng-form
                name="client_ticket_form"
                class="form-horizontal"
                role="form"
                novalidate>

                <div
                  ticket-accordion
                  uib-accordion-group
                  is-open="is_open" ng-init="is_open = $first">

                  <div uib-accordion-heading>

                    <h2>
                      <span
                        translate="PUBLIC_BOOKING.EVENT.TICKET_ACCORDION.HEADING"
                        translate-values="{ticket_number: $index + 1, num_tickets: current_ticket_items.length}"
                        translate-interpolation="messageformat">
                      </span>
                      <i
                        class="pull-right fa"
                        ng-class="{'fa-chevron-down': is_open, 'fa-chevron-right': !is_open}">
                      </i>
                    </h2>
                  </div>

                  <div
                    ng-if="$first"
                    class="form-group">

                    <label
                      for="use_my_details"
                      class="control-label col-sm-4">
                      <span translate="PUBLIC_BOOKING.EVENT.TICKET_ACCORDION.ATTENDEE_IS_YOU_QUESTION"></span>
                    </label>

                    <div class="col-sm-5">
                      <label class="control-label">
                        <input
                          type="checkbox"
                          name="use_my_details"
                          id="use_my_details"
                          ng-model="$parent.use_my_details">
                        <span translate="PUBLIC_BOOKING.EVENT.TICKET_ACCORDION.ATTENDEE_USE_MY_DETAILS"></span>
                      </label>
                    </div>
                  </div>

                  <div
                    class="form-group"
                    ng-class="{
                      'has-error':
                        (!$first || !use_my_details) &&
                        client_ticket_form.attendee_first_name.$invalid &&
                        (client_ticket_form.attendee_first_name.$dirty || booking_form.submitted)
                    }">
                    <label
                      for="attendee_first_name"
                      class="control-label col-sm-4">
                      <span translate="PUBLIC_BOOKING.EVENT.TICKET_ACCORDION.FIRST_NAME_LBL"></span>
                    </label>
                    <div
                      ng-if="use_my_details && $first"
                      class="col-sm-5">
                      <input
                        disabled type="text"
                        ng-model="client.first_name"
                        name="attendee_first_name"
                        class="form-control"
                      />
                    </div>
                    <div ng-if="!use_my_details || !$first">
                      <div
                        class="col-sm-5">
                        <input
                          type="text"
                          ng-model="item.first_name"
                          name="attendee_first_name"
                          class="form-control"
                          required
                        />
                      </div>
                      <div class="col-sm-3">
                        <div ng-messages="client_ticket_form.attendee_first_name.$error" role="alert">
                          <div ng-show="client_ticket_form.attendee_first_name.$dirty || client_ticket_form.submitted">
                            <div ng-message="required" class="error-message">
                              <span
                                class="error-message__item"
                                translate="PUBLIC_BOOKING.EVENT.TICKET_ACCORDION.FIRST_NAME_REQUIRED">
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    class="form-group"
                    ng-class="{
                      'has-error':
                        (!$first || !use_my_details) &&
                        client_ticket_form.attendee_last_name.$invalid &&
                        (client_ticket_form.attendee_last_name.$dirty || booking_form.submitted)
                    }">
                    <label
                      for="attendee_last_name"
                      class="control-label col-sm-4">
                      <span translate="PUBLIC_BOOKING.EVENT.TICKET_ACCORDION.LAST_NAME_LBL"></span>
                    </label>
                    <div
                      ng-if="use_my_details && $first"
                      class="col-sm-5">
                      <input
                        disabled
                        type="text"
                        ng-model="client.last_name"
                        name="attendee_last_name"
                        class="form-control"
                      />
                    </div>
                    <div ng-if="!use_my_details || !$first">
                      <div
                        class="col-sm-5">
                        <input
                          type="text"
                          ng-model="item.last_name"
                          name="attendee_last_name"
                          class="form-control"
                          required
                        />
                      </div>
                      <div class="col-sm-3">
                        <div ng-messages="client_ticket_form.attendee_last_name.$error" role="alert">
                          <div ng-show="client_ticket_form.attendee_last_name.$dirty || client_ticket_form.submitted">
                            <div ng-message="required" class="error-message">
                              <span
                                class="error-message__item"
                                translate="PUBLIC_BOOKING.EVENT.TICKET_ACCORDION.LAST_NAME_REQUIRED">
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    class="form-group"
                    ng-class="{
                      'has-error':
                        (!$first || !use_my_details) &&
                        client_ticket_form.attendee_email.$invalid &&
                        (client_ticket_form.attendee_email.$dirty || booking_form.submitted)
                    }">

                    <label
                      for="attendee_email"
                      class="control-label col-sm-4">
                      <span translate="PUBLIC_BOOKING.EVENT.TICKET_ACCORDION.EMAIL_LBL"></span>
                    </label>
                    <div
                      ng-if="use_my_details && $first"
                      class="col-sm-5">
                      <input
                        disabled
                        type="email"
                        ng-model="client.email"
                        name="attendee_email"
                        required
                        class="form-control"
                      />
                    </div>
                    <div ng-if="!use_my_details || !$first">
                      <div
                        class="col-sm-5">
                        <input
                          type="email"
                          ng-model="item.email"
                          name="attendee_email"
                          class="form-control"
                        />
                      </div>
                      <div class="col-sm-3">
                        <div ng-messages="client_ticket_form.attendee_email.$error" role="alert">
                          <div ng-show="client_ticket_form.attendee_email.$dirty || client_ticket_form.submitted">
                            <div ng-message="email" class="error-message">
                              <span
                                class="error-message__item"
                                translate="PUBLIC_BOOKING.EVENT.TICKET_ACCORDION.EMAIL_INVALID"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- \/\/\/\/\/\/\/\/ -->
                  <!-- CUSTOM QUESTIONS -->
                  <!-- \/\/\/\/\/\/\/\/ -->

                  <div
                    bb-item-details="item"
                    bb-suppress-basket-update="$index">
                  </div>

                </div>
              </div>
            </div>

          </div><!-- accordion close -->

        </div>
      </div>

      <div
        ng-if="!bb.isAdmin && selected_tickets"
        ng-form
        name="terms_and_conditons_form"
        id="terms_and_conditons_form"
        role="form"
        novalidate
        class="form-horizontal">

        <div
          class="form-group check"
          ng-class="{'has-error': terms_and_conditons_form.tandc.$invalid && booking_form.submitted}">
          <div class="col-sm-4 hidden-xs">&nbsp;</div>
          <div class="col-sm-5">
            <label class="control-label">
              <input
                type="checkbox"
                required
                ng-model="tandc"
                id="tandc"
                name="tandc"
              />
              <span translate="PUBLIC_BOOKING.EVENT.T_AND_C_LBL"></span>.
            </label>
          </div>
          <div class="col-sm-3">
            <div ng-messages="terms_and_conditons_form.tandc.$error" role="alert">
              <div ng-show="terms_and_conditons_form.tandc.$dirty || booking_form.submitted">
                <div ng-message="required" class="error-message">
                  <span
                    class="error-message__item"
                    translate="PUBLIC_BOOKING.EVENT.T_AND_C_REQUIRED">
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="button-group">

        <div class="row">

          <div class="col-sm-push-9 col-sm-3">

            <div ng-if="!selected_tickets">

              <button
                type="button"
                class="btn btn-primary btn-block pull-right"
                ng-disabled="event.numTicketsSelected() == 0"
                ng-click="selectTickets()"
                ng-show="event.getSpacesLeft() > 0">

                <span
                  translate="PUBLIC_BOOKING.EVENT.RESERVE_TICKET_BTN"
                  translate-interpolation="messageformat"
                  translate-values="{num_tickets: event.numTicketsSelected()}">
                </span>
                <span class="fa fa-chevron-right"></span>
              </button>

              <button
                type="button"
                class="btn btn-primary btn-block pull-right"
                ng-disabled="event.numTicketsSelected() == 0"
                ng-click="selectTickets()"
                ng-show="event.getSpacesLeft() <= 0 && bb.company.settings.has_waitlists">
                <span translate="PUBLIC_BOOKING.EVENT.JOIN_WAITLIST_BTN"></span>
              </button>

            </div>

            <div ng-if="selected_tickets">

              <button
                type="submit"
                class="btn btn-primary btn-block pull-right"
                ng-click="submitForm()">
                <span
                  translate="PUBLIC_BOOKING.EVENT.BOOK_TICKET_BTN"
                  translate-interpolation="messageformat"
                  translate-values="{num_tickets: event.numTicketsSelected()}">
                </span>
              </button>

            </div>

          </div>

          <div class="col-sm-3 col-sm-pull-3">

            <button
              type="button"
              class="btn btn-default"
              bb-debounce
              ng-click="decideNextPage('event_list')"
              translate="PUBLIC_BOOKING.EVENT.BACK_BTN">
            </button>

          </div>

        </div>

      </div><!-- button group -->

    </form>

  </div>
</div>
