<div bb-membership-levels>
  <div>
    <h2
      class="booking-form-header"
      translate="PUBLIC_BOOKING.MEMBERSHIP_LEVELS.STEP_HEADING">
    </h2>
  </div>
  <div>
    <div
      class="form-group"
      ng-repeat="level in membership_level">
      <span ng-show="level.name">{{level.name}}</span>
      <button
        type="button"
        class="btn btn-primary btn-block"
        ng-click="selectLevel(level)"
        translate="PUBLIC_BOOKING.MEMBERSHIP_LEVELS.SELECT_BTN">
      </button>
    </div>
  </div>
</div>
