<div bb-day-list>

  <div class="page-summary">
    <h2 class="booking-form-header" translate="SELECT_DAY"></h2>
  </div>

  <div class="row month-calendar">
    <div class="col-md-12 day-list">

      <div class="row day-list-header">
        <div class="col-xs-5">

          <form>
            <div class="form-group">
              <label class="control-label" translate="WEEK_BEGINNING"></label>:

              <div class="input-group date-picker">
                <!-- date format: http://docs.angularjs.org/api/ng.filter:date -->
                <input type="text" 
                  ng-model="current_date_js"
                  class="form-control"
                  bb-datepicker-popup="DD/MM/YYYY"
                  on-date-change="currentDateChanged()"
                  datepicker-popup="dd/MM/yyyy"
                  is-open="opened"
                  min-date="today"
                  datepicker-options="{'starting-day': 1, 'show-button-bar': false}"
                  show-weeks="false"
                  date-disabled="isDateDisabled(date, mode)"
                  show-button-bar="false"
                  ng-readonly="false"/>
                <span class="input-group-btn" ng-click="$event.preventDefault();$event.stopPropagation();opened=true">
                  <button class="btn btn-default" type="submit" title="{{'PICK_A_DATE'|translate}}"><span class="glyphicon glyphicon-calendar"></span></button>
                </span>
              </div>

            </div>
          </form>
          
        </div>

        <div class="col-xs-7">
          <div class="day-nav">
            <button type="button" class="btn btn-link" ng-click="subtract('weeks', 5)" ng-disabled="isPast()">
              <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> {{"PREVIOUS_5_WEEKS" | translate}}
              </button> |
            <button type="button" class="btn btn-link" ng-click="add('weeks', 5)">
              {{"NEXT_5_WEEKS" | translate}} <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </div>

      <table class="table table-bordered calendar">
        <tr>
          <th class="day-header" ng-repeat="day in weeks[0]">{{day.date | datetime: 'ddd': false}}</th>
        </tr>
        <tr ng-repeat="week in weeks">
          <td ng-repeat="day in week" ng-class="{'bb-today': day.date.isSame(moment(),'day'), 'bb-available': day.spaces > 0, 'bb-past': day.date.isBefore(moment(), 'day'), 'bb-selected': day.date.isSame(selected_date, 'day') && selected_date, 'bb-unavailable': day.spaces == 0 || !day.spaces}" ng-click="selectDay(day)" ng-disabled="!day.spaces || day.spaces == 0 || day.date.isBefore(moment(), 'day')">
            <span class="month-title pull-left" ng-show="day.date.date() == 1 || day == weeks[0][0]">{{day.date | datetime: 'MMMM': false}}</span>
            <span class="pull-right day-number">{{day.date.date()}}</span>
          </td>
        </tr>
      </table>

      <div class="legend">
        <h4 translate="KEY"></h4>
        <ul class="keys">
          <li class="key available">
            <div class="square"></div> <span translate="AVAILABLE"></span>
          </li>
          <li class="key unavailable">
            <div class="square"></div> <span translate="UNAVAILABLE"></span>
          </li>
        </ul>
      </div>

    </div>


  </div>

  <div bb-times bb-scroll-to="dateChanged" bb-always-scroll>

    <h3 class="booking-form-header" ng-show="slots">{{selected_date | datetime: 'LL':false}}</h3>

    <ul class="time-slots row">
      <li ng-repeat="slot in slots" class="col-sm-3">
        <button type="button" class="btn btn-secondary btn-block" ng-click="selectSlot(slot)">{{slot.datetime | datetime: 'LT'}}</button>
      </li>
    </ul>
  </div>


  <div class="bb-step-navigation">
    <div class="row">
      <div class="col-sm-2 back">
        <button type="button" class="btn btn-secondary btn-block" bb-debounce ng-click="loadPreviousStep()" translate="PROGRESS_BACK">
        </button>
      </div>
    </div>
  </div>

</div>
