<div bb-page>

  <div class="page-summary">
    <div bb-include="_multi_service_summary">
    </div>
  </div>

  <div bb-time-range-stacked="{selected_day: today}" class="bb-calendar" ng-show="days"></div>

  <div class="row step-navigation">
    <div class="col-sm-offset-8 col-sm-2 col-sm-push-2 forward">
      <div>
        <!-- <button type="button" class="btn btn-default" ng-click="checkReady() && routeReady()" bb-debounce>  -->
        <button ng-show="!bb.movingBooking" type="button" class="btn btn-default" ng-click="checkReady() && routeReady()" bb-debounce>
          <span>Continue</span>
        </button>
      <div ng-if="bb.movingBooking" bb-move-booking>
        <button 
          ng-show="bb.purchase.bookings.length == 0" 
          type="button" 
          id="btn-continue" 
          class="btn btn-primary btn-block" 
          ng-click="initMove(bb.current_item, 'purchase')" 
          bb-debounce>
          <span>Reschedule</span>
        </button>
        <button 
          ng-show="bb.purchase.bookings.length > 0" 
          type="button" 
          id="btn-continue" 
          class="btn btn-primary btn-block" 
          ng-click="initMove(bb.stacked_items, 'purchase')" 
          bb-debounce>
          <span>Reschedule</span>
        </button>
      </div>
      </div>
    </div>
    <div class="col-sm-2 col-sm-pull-10 back">
      <button type="button" class="btn btn-link" bb-debounce ng-click="loadPreviousStep()" ng-if="!bb.movingBooking"><span>Back</span></button>
    </div>
  </div> 

</div>