<div bb-page>
<div bb-services class="bb-service-list">
  <div bb-multi-service-select class="section">

    <div class="section">
      <div ng-show="categories">
        <div bb-include="_category_filter"></div>
      </div>


    <div ng-show="bb.stacked_items.length > 0" class="service-list-selected">
      <div class="section-heading">
        <h2 class="section-title">Your Services</h2>
      </div>

      <div ng-show="bb.stacked_items.length > 0">
        <div class="text-block text-center">
          <p>Below is the sequence of services you have selected:</p>
        </div>

        <div class="row">
          <div class="col-sm-offset-2 col-sm-8">
            <ul>
              <li ng-repeat="item in bb.stacked_items" class="row">
                <div class="col-xs-5">{{item.service.name}}</div>
                <div class="col-xs-3">{{item.service.listed_duration | time_period}}</div>
                <div class="col-xs-2">{{item.service.price | icurrency }}</div>
                <div class="col-xs-2">

                  <button 
                    type="button" 
                    class="btn btn-link" 
                    ng-click="removeItem(item.service)">
                    <span>Remove</span>
                  </button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="bb-step-navigation">
      <div class="row">
        <div ng-show="bb.stacked_items.length > 0" class="col-sm-9 col-sm-push-3 text-right">
          <button 
            type="button" 
            class="btn btn-primary" 
            ng-click="checkReady() && routeReady()">
            Continue
          </button>
        </div>

        <div class="col-sm-3 col-sm-pull-9">
          <button 
            ng-show="bb.current_step > 1"
            type="button" 
            class="btn btn-default" 
            bb-debounce 
            ng-click="loadPreviousStep()">
            Back
          </button>
        </div>
      </div>
    </div>
  </div>
</div>