<div bb-purchase="{move_route: 'calendar'}">

  <div class="bb-checkout">

    <div class="row">

      <div class="col-xs-offset-1 col-xs-10">

        <div ng-show="purchase && bookings.length == 0">
          <div class="confirmation-header">
            <h2
              class="confirmation-heading"
              translate="PUBLIC_BOOKING.PURCHASE.CANCEL_CONFIRMATION_HEADING">
            </h2>
          </div>
        </div>

        <div ng-show="bookings && bookings.length != 0">
          <div ng-if="is_waitlist">
            <div bb-include="book_waitlist"></div>
          </div>

          <div ng-hide="is_waitlist">

            <div class="confirmation-header">
              <h3
                class="confirmation-heading"
                translate="PUBLIC_BOOKING.PURCHASE.HEADING"
                translate-values="{service_name: purchase.bookings[0].service_name}">
              </h3>
              <div class="row hidden-print text-right">
                <button
                  type="button"
                  class="btn btn-link"
                  onclick="window.print()">
                  <span class="fa fa-print"></span>
                  <span translate="PUBLIC_BOOKING.PURCHASE.PRINT_BTN"></span>
                </button>
                <div
                  bb-booking-export="purchase"
                  class="bb-booking-export">
                </div>
              </div>
            </div>

            <div>

              <ul class="confirmation-summary">

                <li class="row confirmation-summary-item">
                  <div class="bb-summary-label">
                    <span translate="PUBLIC_BOOKING.PURCHASE.CUSTOMER_NAME_LBL"></span>
                  </div>
                  <div class="bb-summary-value">{{purchase.client.name}}</div>
                </li>

                <li class="row confirmation-summary-item">
                  <div class="bb-summary-label">
                    <span translate="PUBLIC_BOOKING.PURCHASE.EMAIL_LBL"></span>
                  </div>
                  <div class="bb-summary-value">{{purchase.client.email}}</div>
                </li>

                <li class="row confirmation-summary-item">
                  <div class="bb-summary-label">
                    <span translate="PUBLIC_BOOKING.PURCHASE.SERVICE_LBL"></span>
                  </div>
                  <div class="bb-summary-value">{{purchase.bookings[0].service_name}}</div>
                </li>

                <li class="row confirmation-summary-item">
                  <div class="bb-summary-label">
                    <span translate="PUBLIC_BOOKING.PURCHASE.WHEN_LBL"></span>
                  </div>
                  <div class="bb-summary-value">{{purchase.bookings[0].datetime | datetime: 'LLLL'}}</div>
                </li>

                <li class="row confirmation-summary-item" ng-show="purchase.total_price > 0">
                  <div class="bb-summary-label">
                    <span translate="PUBLIC_BOOKING.PURCHASE.PRICE_LBL"></span>
                  </div>
                  <div class="bb-summary-value">{{purchase.total_price | currency }}</div>
                </li>

              </ul>

              <div
                bb-address-map="purchase.bookings[0].company.address"
                class="view-booking-map">
                <ui-gmap-google-map
                  ng-if="map.center"
                  center="map.center"
                  zoom="map.zoom"
                  options="options">
                  <ui-gmap-marker
                    coords="marker.coords"
                    idkey="marker.id">
                  </ui-gmap-marker>
                </ui-gmap-google-map>
              </div>

              <div class="confirmation-summary-address">

                <div ng-show="purchase.bookings[0].company.address">
                  <span class="fa fa-map-marker"></span>
                  {{purchase.bookings[0].company.address | address_single_line}}
                </div>

                <div ng-show="purchase.bookings[0].company.address.phone">
                  <span class="fa fa-phone"></span>
                  {{purchase.bookings[0].company.address.phone | local_phone_number}}
                </div>

              </div>

            </div>


            <div class="payment">
              <div
                bb-custom-confirmation-text
                class="text-block-sml bb-message-buffer"
                ng-show="messages">
                <p
                  ng-repeat="msg in messages"
                  ng-bind-html="msg">
                </p>
              </div>
            </div>

            <div class="hidden-print">

              <div class="bb-step-navigation">

                <div class="row">

                  <div class="col-sm-4">
                    <button
                      type="button"
                      class="btn btn-secondary btn-block"
                      ng-click="delete(bookings[0])"
                      translate="PUBLIC_BOOKING.PURCHASE.CANCEL_BOOKING_BTN">
                    </button>
                  </div>

                  <div bb-move-booking class="col-sm-4">
                    <button
                      type="button"
                      id="btn-continue"
                      class="btn btn-primary btn-block"
                      ng-click="$bbMoveBookingCtrl.initMove(bookings[0], true)"
                      bb-debounce
                      translate="PUBLIC_BOOKING.PURCHASE.MOVE_BOOKING_BTN">  
                    </button>
                  </div>

                  <div
                    ng-show="waitlist_bookings && waitlist_bookings.length > 0"
                    class="col-sm-4">
                    <button
                      type="button"
                      class="btn btn-primary btn-block"
                      ng-click="is_waitlist = true"
                      translate="PUBLIC_BOOKING.PURCHASE.BOOK_WAITLIST_ITEMS_BTN">
                    </button>
                  </div>

                </div>

              </div>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
