<div bb-page>
  <!-- <div bb-people></div> -->
  <div class="page-subheader-var">
    <h1 translate="PUBLIC_BOOKING.RESCHEDULE_REASONS.MOVE_HEADING"></h1>
  </div>

  <div bb-include="_basket_item_summary_var"></div>

  <div>
    <p ng-show="bb.move_reasons.length > 0">
      <span class="bb-summary-label3">
        <span translate="PUBLIC_BOOKING.RESCHEDULE_REASONS.MOVE_REASON"></span>
      </span>
      <select
        ng-model="bb.current_item.move_reason"
        id="cancel_reason"
        class="form-control"
        ng-options="option.id as option.text for option in bb.move_reasons">
      </select>
    </p>
  </div>

  <div class="bb-step-navigation">
    <div class="row">
      <div class="col-sm-offset-8 col-sm-3 col-sm-push-1 text-right">
        <button
          type="button"
          aria-label="continue button"
          class="btn btn-primary btn-block"
          ng-click="checkReady() && routeReady()"
          bb-debounce
          translate="PUBLIC_BOOKING.RESCHEDULE_REASONS.MOVE_BTN">
        </button>
      </div>
    </div>
  </div>
</div>
