<div bb-page>
  <!-- <div bb-people></div> -->
  <div class="page-subheader-var">
    <h1 translate="PUBLIC_BOOKING.RESCHEDULE_REASONS.MOVE_HEADING"></h1>
  </div>

  <div bb-include="_basket_item_summary"></div>

  <div bb-reasons>
    <p ng-show="$bbReasonsController.moveReasons.length > 0">
      <span class="bb-summary-label3">
        <span translate="PUBLIC_BOOKING.RESCHEDULE_REASONS.MOVE_REASON"></span>
      </span>
      <select
        ng-model="bb.current_item.moveReason" 
        id="cancel_reason"
        class="form-control"
        ng-options="option.id as option.text for option in $bbReasonsController.moveReasons">
      </select>
    </p>
  </div> 

  <div class="bb-step-navigation">
    <div class="row">
      <div class="col-sm-offset-8 col-sm-3 col-sm-push-1 text-right">
        <button
          bb-move-booking
          type="button"
          aria-label="continue button"
          class="btn btn-primary btn-block"
          ng-click="$bbMoveBookingCtrl.updateSingleBooking(bb.current_item)"
          bb-debounce
          translate="PUBLIC_BOOKING.RESCHEDULE_REASONS.MOVE_BTN">
        </button>
      </div>
    </div>
  </div>
</div>
