<ul class="sidebar-menu">
	<li ng-class="{active: isState('settings')}">
		<a ui-sref="settings"><i class="fa fa-cogs"></i> <span translate="ADMIN_DASHBOARD.SIDE_NAV.SETTINGS_IFRAME_PAGE.ACCOUNT_SETTINGS"></span></a>
		<ul class="treeview-menu">
			<li ui-sref-active="active"><a ui-sref="settings.page({path:'company/mycompany'})"><i class="fa fa-home"></i> <span translate="ADMIN_DASHBOARD.SIDE_NAV.SETTINGS_IFRAME_PAGE.MY_BUSINESS"></span></a></li>
			<li ui-sref-active="active"><a ui-sref="settings.basic-settings"><i class="fa fa-gear"></i> <span translate="ADMIN_DASHBOARD.SIDE_NAV.SETTINGS_IFRAME_PAGE.BASIC_SETTINGS"></span></a></li>
			<li ui-sref-active="active"><a ui-sref="settings.advanced-settings"><i class="fa fa-gears"></i> <span translate="ADMIN_DASHBOARD.SIDE_NAV.SETTINGS_IFRAME_PAGE.ADVANCED_SETTINGS"></span></a></li>
			<li ui-sref-active="active"><a ui-sref="settings.integrations"><i class="fa fa-wrench"></i> <span translate="ADMIN_DASHBOARD.SIDE_NAV.SETTINGS_IFRAME_PAGE.INTEGRATIONS"></span></a></li>
			<li ui-sref-active="active"><a ui-sref="settings.page({path:'conf/image/index'})"><i class="fa fa-photo"></i> <span translate="ADMIN_DASHBOARD.SIDE_NAV.SETTINGS_IFRAME_PAGE.IMAGES"></span></a></li>
			<li ui-sref-active="active"><a ui-sref="settings.page({path:'logins/edit'})"><i class="fa fa-users"></i> <span translate="ADMIN_DASHBOARD.SIDE_NAV.SETTINGS_IFRAME_PAGE.USERS_ADMINS"></span></a></li>
			<li ui-sref-active="active"><a ui-sref="settings.page({path:'announcements/all'})"><i class="fa fa-bullhorn"></i> <span translate="ADMIN_DASHBOARD.SIDE_NAV.SETTINGS_IFRAME_PAGE.ANNOUNCEMENTS"></span></a></li>
			<li ui-sref-active="active"><a ui-sref="settings.subscription"><i class="fa fa-users"></i> <span translate="ADMIN_DASHBOARD.SIDE_NAV.SETTINGS_IFRAME_PAGE.SUBSCRIPTION"></span></a></li>
    </ul>
	</li>
</ul>
