<ul class="sidebar-menu">
	<li ng-class="{active: isState('settings')}">
		<a ui-sref="settings"><i class="fa fa-cogs"></i> Account settings</a>
		<ul class="treeview-menu">
			<li ui-sref-active="active"><a ui-sref="settings.page({path:'company/mycompany'})"><i class="fa fa-home"></i> <span>My business</span></a></li>
			<li ui-sref-active="active"><a ui-sref="settings.basic-settings"><i class="fa fa-gear"></i> <span>Basic settings</span></a></li>
			<li ui-sref-active="active"><a ui-sref="settings.advanced-settings"><i class="fa fa-gears"></i> <span>Advanced settings</span></a></li>
			<li ui-sref-active="active"><a ui-sref="settings.integrations"><i class="fa fa-wrench"></i> <span>Integrations</span></a></li>
			<li ui-sref-active="active"><a ui-sref="settings.page({path:'conf/image/index'})"><i class="fa fa-photo"></i> <span>Images</span></a></li>
			<li ui-sref-active="active"><a ui-sref="settings.page({path:'logins/edit'})"><i class="fa fa-users"></i> <span>Users &amp; Admins</span></a></li>
			<li ui-sref-active="active"><a ui-sref="settings.page({path:'announcements/all'})"><i class="fa fa-bullhorn"></i> <span>Announcements</span></a></li>
			<li ui-sref-active="active"><a ui-sref="settings.subscription"><i class="fa fa-users"></i> <span>Subscription</span></a></li>
    </ul>
	</li>
</ul>
