[bb-admin-calendar], .bb-admin-calendar {

  .bb-day-nav {
    text-align: center;
  }

  .bb-day-nav-heading {
    display: inline-block;
    margin-bottom: 0;
    font-size: 18px;
    padding: 15px 0 15px 0;
  }

  .bb-filter-icon {
    height: 33px;
    padding-right: 5px;
    display: inline-block;
    vertical-align: middle;
  }

}

