[bb-calendar-admin] {

  .bb-day-nav {
    text-align: center;
  }

  .btn-day-nav {
    color: #333;
    &:hover {
      color: #000;
    }
  }

  .bb-day-nav-heading {
    display: inline-block;
    margin-bottom: 0;
    font-size: 18px;
  }

  .bb-filter-icon {
    height: 33px;
    padding-right: 5px;
    display: inline-block;
    vertical-align: middle;
  }

}

