<div class="form-group">
  <label>
    <span translate="CORE.TIMEZONE.SET_TIMEZONE_AUTOMATICALLY_LABEL"></span>
  </label>
  <toggle-switch
    ng-change="$bbTimeZoneSelectCtrl.automaticTimeZoneToggle()"
    ng-model="$bbTimeZoneSelectCtrl.isAutomaticTimeZone"
    on-label="{{'CORE.TIMEZONE.SET_TIMEZONE_AUTOMATICALLY_ON_LABEL' | translate}}"
    off-label="{{'CORE.TIMEZONE.SET_TIMEZONE_AUTOMATICALLY_OFF_LABEL' | translate}}"
    class="switch-primary">
  </toggle-switch>
</div>

<div class="form-group">
  <label>
    <span translate="CORE.TIMEZONE.TIMEZONE_LABEL"></span>
  </label>
  <!-- Using ui-select-choices-lazyload due to perfomance issues with big lists -->
  <ui-select
    ng-if="$bbTimeZoneSelectCtrl.momentNames"
    ng-model="$bbTimeZoneSelectCtrl.selectedTimeZone"
    theme="bootstrap"
    ng-disabled="$bbTimeZoneSelectCtrl.isAutomaticTimeZone"
    ng-change="$bbTimeZoneSelectCtrl.updateTimeZone();">

    <ui-select-match placeholder="Select timezone">
      {{$select.selected.display}}
    </ui-select-match>

    <ui-select-choices
      ui-select-choices-lazyload
      all-choices="$bbTimeZoneSelectCtrl.timeZones"
      refresh-delay="0"
      repeat="
        timezone as timezone in $select.pagingOptions.items |
        props: { display: $select.search}
        track by timezone.id
      ">
      <div ng-bind-html="timezone.display | highlight: $select.search"></div>
    </ui-select-choices>

  </ui-select>

  <!-- Standard ui-select -->
  <ui-select
    ng-if="!$bbTimeZoneSelectCtrl.momentNames"
    ng-model="$bbTimeZoneSelectCtrl.selectedTimeZone"
    theme="bootstrap"
    ng-disabled="$bbTimeZoneSelectCtrl.isAutomaticTimeZone"
    ng-change="$bbTimeZoneSelectCtrl.updateTimeZone();">

    <ui-select-match placeholder="Select timezone">
      {{$select.selected.display}}
    </ui-select-match>

    <ui-select-choices
      refresh-delay="0"
      repeat="
        timezone as timezone in $bbTimeZoneSelectCtrl.timeZones |
        props: { display: $select.search}
        track by timezone.id">
      <div ng-bind-html="timezone.display | highlight: $select.search"></div>
    </ui-select-choices>

  </ui-select>

</div>
