<ui-select id="language-picker" ng-model="vm.language.selected" theme="bootstrap"
           ng-change="vm.pickLanguage(vm.language.selected.identifier)" search-enabled="vm.enableSerach">
  <ui-select-match placeholder="{{ 'Select...' | translate }}"><span translate="{{$select.selected.label}}"></span></ui-select-match>
  <ui-select-choices repeat="lang in vm.availableLanguages | props: { label: $select.search}">
    <div ng-bind-html="lang.label | translate | highlight: $select.search"></div>
  </ui-select-choices>
</ui-select>