<div class="row bb-date-picker">
  <div class="col-sm-4">
    <div class="input-group">       
      <input type="text" ng-model="datetime.date" class="form-control"
        bb-datepicker-popup="DD/MM/YYYY"
        on-date-change="selectedDateChanged()"
        datepicker-popup="dd/MM/yyyy"
        is-open="opened"
        min-date="today"
        datepicker-options="{'starting-day': 1, 'show-button-bar': false}"
        show-weeks="false"
        show-button-bar="false"
        ng-readonly="false"
      />
      <span class="input-group-btn" ng-click="$event.preventDefault(); $event.stopPropagation(); opened=!opened;">
        <button class="btn btn-default" type="submit" title="Select date"><span class="fa fa-calendar-o"></span></button>
      </span>
    </div>
  </div>
  <div class="col-sm-4">
    <div timepicker ng-model="datetime.time" ng-change="changed()" hour-step="1" minute-step="5" show-meridian="false"></div>
  </div>
</div>