<div class="bb-typehead-results-wrapper">

  <ul class="bb-list bb-list-sm">
    <li class="bb-typh-header">
      {{match.model.name}}
    </li>
    <li ng-show="match.model.email">
      <i class="fa fa-envelope-o fa-fw"></i>
      {{match.model.email}}
    </li>
    <li ng-show="match.model.mobile && !match.model.email">
      <i class="fa fa-mobile fa-lg fa-fw"></i>
      {{match.model.mobile | local_phone_number}}
    </li>
    <li ng-show="match.model.phone && !match.model.email">
      <i class="fa fa-phone fa-fw"></i>
      {{match.model.phone | local_phone_number}}
    </li>
  </ul>

</div>
