<div bb-page>

  <div bb-include="_basket_item_summary"></div>

  <form
    name="booking_form"
    class="form-horizontal"
    role="form"
    bb-form>

      <div
        bb-custom-booking-text
        class="bb-message-node">
        <div
          ng-repeat="msg in messages"
          ng-bind-html="msg">
        </div>
      </div>

      <h2
        class="booking-form-header"
        translate="PUBLIC_BOOKING.CHECK_ITEMS.BOOKING_QUESTIONS_HEADING">
      </h2>

      <div bb-item-details></div>

      <div class="question-node">
        <label for="notes">
          <span translate="ADMIN_BOOKING.CHECK_ITEMS.PRIVATE_BOOKING_NOTES_HEADING"></span>:
        </label>
        <span>
          <textarea
            ng-model="item.private_note"
            name="note"
            id="note"
            rows="3"
            class="form-question form-control">
          </textarea>
          <br>
         </span>
      </div>
      
    </div>

    <div class="bb-step-navigation">
      <div class="row">
        <div class="col-sm-9 col-sm-push-3 text-right">
        
          <button
            type="submit"
            class="btn btn-primary pull-right"
            ng-click="submitForm()"
            translate="ADMIN_BOOKING.CHECK_ITEMS.BOOK_BTN">
          </button>

        </div>
        <div class="col-sm-3 col-sm-pull-9">

          <button
            type="button"
            class="btn btn-default pull-left"
            ng-click="loadPreviousStep()"
            ng-show="bb.current_step > 1"
            translate="ADMIN_BOOKING.CHECK_ITEMS.BACK_BTN">
          </button>

        </div>
      </div>
    </div>

  </form>

</div>