<div bb-total ng-init="checkStepTitle('Confirmed')" class="bb-checkout">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">

      <div class="bb-subcontent">
        <div class="confirmation-header bb-confirmation-border-margin">
          <div ng-if="!total.containsWaitlistItems()">
            <h2 id="bb-confirmation-summary-title"> Booking Confirmation</h2>
            <p  id="bb-confirmation-summary-subtitle" class="bb-confirmation-p-alignment">Booking is now confirmed. <span ng-if="total.client.email">An email has been sent to {{ total.client.first_name }} {{ total.client.last_name }} with the details below.</span></p>
          </div>
           <div ng-if="total.containsWaitlistItems()">
            <h2 id="bb-confirmation-summary-title">Confirmation</h2>
            <p id="bb-confirmation-summary-title" class="bb-confirmation-p-alignment">You have successfully made the following bookings. <span ng-if="total.client.email">An email has been sent to {{ total.client.first_name }} {{ total.client.last_name }} with the details below.</span></p>

          </div>
        </div>

        <div>
          <ul class="confirmation-summary">
            <li id="bb-confirmation-summary-reference" class="row confirmation-summary-item">
              <div class="col-sm-3 bb-summary-label">Reference:</div>
              <div class="col-sm-9 bb-summary-value">   {{ total.id }}</div>
            </li>
            <li id="bb-confirmation-summary-customer" class="row confirmation-summary-item">
              <div class="col-sm-3 bb-summary-label">Customer:</div>
              <div class="col-sm-9 bb-summary-value">   {{ total.client.first_name  }}  {{ total.client.last_name }}</div>
            </li>
          </ul>
          <ul class="confirmation-summary" ng-repeat="i in total.items">
            <li id="bb-confirmation-summary-service" ng-if="i.full_describe" class="row confirmation-summary-item">
              <div class="col-sm-3 bb-summary-label">Service:</div>
              <div class="col-sm-9 bb-summary-value">   {{ i.full_describe }}</div>
            </li>
            <li id="bb-confirmation-summary-datetime" ng-if="i.describe" class="row confirmation-summary-item">
              <div class="col-sm-3 bb-summary-label">Date/Time:</div>
              <div class="col-sm-9 bb-summary-value">   {{ i.describe }}</div>
            </li>
            <li id="bb-confirmation-summary-price" ng-if="i.price" class="row confirmation-summary-item">
              <div class="col-sm-3 bb-summary-label">Price:</div>
              <div class="col-sm-9 bb-summary-value">   {{ i.price | currency }}</div>
            </li>
          </ul>

          <ul ng-show="total.bookings[0].address.lat" class="confirmation-summary">         

            <div class="confirmation-summary-address">
              <div><span class='fa fa-map-marker'></span> {{total.bookings[0].address | address_single_line}}</div>
              <div> <span class='fa fa-phone'></span> {{total.bookings[0].address.phone | local_phone_number}}</div>
            </div>

          </ul>
 
          <div bb-custom-confirmation-text class="bb-message">
            <div ng-repeat="msg in messages" ng-bind-html="msg"></div>
          </div>

          <div class="row hidden-print pull-right print-row">
            <button type="button" class="btn btn-link" onclick="window.print()"><span class="fa fa-print fa-2x"></span> Print</button>
          </div>


          <div class="row" style="margin-top: 10px" ng-click="cancel()" ng-if="cancel">
            <button type="button" class="btn btn-primary pull-right">Close</button>
          </div> 

        </div>

      </div>

    </div>
  </div>
</div>

<!-- <div class="bb-step-navigation"></div> -->

<div ng-show="isLoaded" class="powered-by visible-print">
  <p>Bookings powered by <span style="color:#087f94">booking</span><span style="color:#88c66f">bug</p>
  <a href="//www.bookingbug.com" style="text-decoration:none" target="_blank"></a>
</div>
