<div bb-wait-for="quickEmptybasket()" bb-wait-var="all_done" ng-if="all_done" bb-form-data-store bb-page>

  <div ng-form name="appointment-booking-form">

    <h1>Make a Booking</h1>

    <div bb-services>
      <div class="form-group">
        <label>Pick a Service</label>
        
        <!-- TODO use display_name -->
        <select id="enquiry-type" ng-model="service" ng-options="s.name for s in bookable_services">
          <option value="">-- pick a service --</option>
        </select>
        
      </div>
    </div>

    <div ng-if="bb.company.$has('people') && !bb.item_defaults.person" ng-show="bb.current_item.service" bb-people>
      <div class="form-group">
        <label>Pick a staff member</label>
        
        <select id="enquiry-stype" ng-model="person" ng-options="s.name for s in bookable_people">
          <option value="">-- pick any staff --</option>
        </select>
        
      </div>
    </div>

    <div ng-if="bb.company.$has('resources') && !bb.item_defaults.resource" ng-show="bb.current_item.service" bb-resources>
      <div class="form-group">
        <label>Pick a Resource</label>
        
        <select id="enquiry-type" ng-model="resource" ng-options="s.name for s in bookable_resources">
          <option value="">-- pick any resource --</option>
        </select>
        
      </div>
    </div>
    
    <div ng-show="bb.current_item.service">
      <button type="button" class="btn btn-primary" ng-click="checkReady() && routeReady()" bb-debounce>Next</button>
    </div>

  </div>

  <hr>

  <div ng-form name="block_time_form">

    <h1>Block Time</h1>


    <div class="form-group">
      <label>From</label>
      <div class="row">
        <div class="col-sm-4">
          <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="date" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
        </div>
        <div class="col-sm-4">
          <div timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
        </div>
      </div>
    </div>


  </div>






</div>