<div class="bb-quick-pick" bb-wait-for="quickEmptybasket()" bb-wait-var="all_done" ng-if="all_done" bb-form-data-store bb-page>

  <div ng-form name="appointment-booking-form">

    <h1>Make a Booking</h1>

    <div bb-services>
      <div class="form-group">
        <label>Service</label>
        
        <!-- TODO use display_name -->
        <select id="service" ng-model="service" ng-options="s.name for s in bookable_services | orderBy: 'name'" class="form-control">
          <option value="">-- select a service --</option>
        </select>
        
      </div>
    </div>
    
    <button type="button" class="btn btn-primary" ng-click="checkReady() && routeReady()" bb-debounce ng-disabled="!bb.current_item.service">Book</button>

  </div>

  <hr>

  <div ng-form name="block_time_form" class="bb-block-time" bb-block-time>

    <h1>Block Time</h1>

    <div class="form-group">
      <label>For</label>
      <p ng-show="bb.current_item.person.name">
        {{bb.current_item.person.name}}
      </p>
      <p ng-show="bb.current_item.resource.name">
        {{bb.current_item.resource.name}}
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>From</label>
          <div bb-date-time-picker date="config.fromDatetime"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>To</label>
          <div bb-date-time-picker date="config.toDatetime"></div>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-primary" ng-click="blockTime()" bb-debounce ng-disabled="false">Block Time</button>


  </div>

</div>
