<div
  class="bb-quick-pick"
  bb-wait-for="emptybasket()"
  bb-wait-var="all_done"
  ng-if="all_done"
  bb-form-data-store>

  <uib-tabset>

    <uib-tab>
      <uib-tab-heading>
        <i class="fa fa-calendar-plus-o"></i>
        <span translate="ADMIN_BOOKING.QUICK_PICK.MAKE_BOOKING_TAB_HEADING"></span>
      </uib-tab-heading>

      <br/>

      <!-- Make booking tab START -->
      <div
        ng-form
        name="appointment-booking-form">

        <p translate="ADMIN_BOOKING.QUICK_PICK.STEP_SUMMARY"></p>

        <div bb-services="{allow_single_pick: true}">

          <ul class="bb-list bb-list-bordered bb-list-md">

            <li ng-repeat="item in filtered_items | orderBy: 'order'">

               <div class="row">

                <div class="col-sm-10 col-xs-6">

                  <h2 class="bb-service-name bb-service-name-small">{{item.name}}</h2>

                </div>

                <div class="col-sm-2 col-xs-12">

                  <button
                    type="button"
                    ng-click="selectItem(item, 'calendar')"
                    class="btn btn-primary btn-block"
                    translate="ADMIN_BOOKING.QUICK_PICK.SELECT_BTN">
                  </button>

                </div>
              </div>
            </li>
          </ul>

        </div>

      </div>
      <!-- Make booking tab END -->

    </uib-tab>

    <uib-tab ng-show="!bb.hide_block">

      <uib-tab-heading>
        <i class="fa fa-calendar-minus-o"></i>
        <span translate="ADMIN_BOOKING.QUICK_PICK.BLOCK_TIME_TAB_HEADING"></span>
      </uib-tab-heading>

      <br/>
      <!-- Block time tab START -->
      <div
        ng-form
        name="block_time_form"
        class="bb-block-time"
        bb-block-time>

        <div
          class="form-group"
          ng-class="{'has-error': resourceError}">
          <label translate="ADMIN_BOOKING.QUICK_PICK.FOR_LABEL"></label>
          <select
            id="resource"
            ng-model="picked_resource"
            ng-change="changeResource()"
            ng-options="item.identifier as item.name group by item.group for item in resources"
            class="form-control">
            <option
              value=""
              translate="ADMIN_BOOKING.QUICK_PICK.RESOURCE_DEFAULT_OPTION">
            </option>
          </select>
          <p
            class="text-danger"
            ng-init="resourceError=false"
            ng-show="resourceError"
            translate="ADMIN_BOOKING.QUICK_PICK.RESOURCE_PERSON_VALIDATION_MSG">
          </p>
        </div>

        <div
          class="form-group"
          ng-init="blockWholeDay = false"
          ng-hide="hideBlockAllDay">
          <label>
            <span translate="ADMIN_BOOKING.QUICK_PICK.BLOCK_WHOLE_DAY"></span>
            &nbsp;&nbsp;
            <toggle-switch
              ng-model="blockWholeDay"
              ng-change="changeBlockDay(blockWholeDay)"
              class="switch-primary switch-small"
              on-label="{{ 'ADMIN_BOOKING.QUICK_PICK.YES_OPTION' | translate }}"
              off-label="{{ 'ADMIN_BOOKING.QUICK_PICK.NO_OPTION' | translate }}">
            </toggle-switch>
          </label>
        </div>

        <div
          class="row"
          ng-hide="blockWholeDay">
          <div class="col-md-6">
            <div class="form-group">
              <label translate="ADMIN_BOOKING.QUICK_PICK.FROM_LABEL"></label>
              <div
                bb-date-time-picker
                date="bb.from_datetime"
                max-date="bb.to_datetime"
                min-date="bb.min_date">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label translate="ADMIN_BOOKING.QUICK_PICK.TO_LABEL"></label>
              <div
                bb-date-time-picker
                date="bb.to_datetime"
                min-date="bb.from_datetime"
                max-date="bb.max_date">
              </div>
            </div>
          </div>
        </div>


        <div
          ng-show="block_questions && block_questions.hasQuestions"
          ng-form
          name="booking_questions_form"
          class="bb-form"
          role="form"
          novalidate>

          <div
            class="form-group row"
            ng-repeat="question in block_questions.questions"
            ng-if="question.currentlyShown"
            bb-question-line
            ng-class="{'has-error': booking_questions_form['q' + question.id].$invalid && (booking_questions_form['q' + question.id].$dirty || booking_form.submitted)}">
            <label
              for="{{question.id}}"
              class="control-label col-sm-4"
              bb-question-label="question">
              {{question.name}}
            </label>
            <div class="col-sm-5">
              <input bb-question="question"/>
            </div>
            <div class="col-sm-offset-4 messages">
              <div
                class="error-message"
                ng-show="booking_questions_form['q' + question.id].$invalid && ( booking_questions_form['q' + question.id].$dirty || booking_form.submitted)"
                translate="ADMIN_BOOKING.QUICK_PICK.FIELD_REQUIRED">
              </div>
            </div>
          </div>

        </div><!--booking_questions_form-->

        <button
          type="button"
          class="btn btn-primary"
          ng-click="blockTime()"
          ng-disabled="loading"
          translate="ADMIN_BOOKING.QUICK_PICK.BLOCK_TIME_BTN">
        </button>

      </div>
      <!-- Block time tab END -->

    </uib-tab>
  </uib-tabset>

</div>
