[bb-queuers] {

  a {
    display: inline-block;
    width: 100%;
  }

  li {
    height: 45px;
    margin-bottom: 8px;
  }

  .qline_due {
    float:right;
    font-size:24px;
    font-family: "Lucida Console", Monaco, monospace;
    &.qline_invalid {
      color:#F00;
    }
    background: #FFF;
    border-radius:4px;
    width:150px;
    height:34px;
    line-height:34px;
    text-align:center;
    color:#000;
    margin-left:5px;
  }

  .qline_info {
    float:left;
  }

  .waiting-queuer .ticket-number {
    float: left;
    font-size: 20pt;
    padding-right: 7px;
  }

}
