[bb-server-list-item] {
  .btn {
    margin-top: 12px;
  }
  .btn-group {
    margin-right: 6px;
  }

  .info-box-content {
    .server-info {
      min-height: 50px;
    }
  }

  .loader {
    height: 60px;
    width: 60px;
    background-size: 60px 60px;
  }
}


