<div class="box box-success add-customer">
  <div class="box-header with-border">
    <h3 class="box-title">Add Customer</h3>
    <div class="box-tools pull-right">
    </div>
  </div>
  <div class="loader" ng-show="loading"></div>
  <form name="qForm" class="box-body padding" ng-class="{invisible: loading}">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <label for="first_name">First Name *</label>
          <input id="first_name" required ng-model="new_queuer.first_name" name="first_name"
          class="form-control" type="text" ng-focus="highlighted = true" placeholder="First Name">
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <label for="last_name">Last Name</label>
          <input id="last_name" ng-model="new_queuer.last_name"  name="last_name"
          class="form-control" type="text" placeholder="Last Name">
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <label for="mobile">Phone</label>
          <input id="mobile" ng-model="new_queuer.mobile" name="mobile"  class="form-control"
          type="phone" placeholder="Phone">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <div class="form-group">
          <label for="notes">Notes</label>
          <textarea id="notes" ng-model="new_queuer.notes" name="notes" rows="1"
            class="form-control" placeholder="Notes"></textarea>
        </div>
      </div>
    </div>
    <p>{{availableServers().length}}</p>
    <div class="box-footer">
      <input ng-disabled="qForm.$invalid" type="submit" value="Add to Queue"
      ng-click="addToQueue()" class="btn btn-primary pull-right"></input>
      <input ng-disabled="qForm.$invalid || availableServers().length == 0" type="submit"
      value="Serve Now" ng-click="serveCustomerNow()" class="btn pull-right"></input>
      <button ng-disabled="qForm.$invalid" class="btn pull-right"
        ng-click="makeAppointment({client: new_queuer})">
        Make Appointment
      </button>
    </div>
  </form>
</div>
