<section class="content">
  <div bb-queue-dashboard class="queue_admin">
    <div class="row">
      <ul class="col-md-5 server_column">
        <li class="info-box info-box-sm"  ng-repeat="person in servers" ng-class="{serve: (selected_queuer
          && !person.serving && person.attendance_status == 1), no_serve: (selected_queuer &&
          person.serving), over: person.hover }"  jqyoui-droppable="{onDrop:'dropQueuer(person, false)',
          onOver:'hoverOver(person, true)', onOut:'hoverOver(person, false)'}" data-drop="true"
          bb-server-list-item>
        </li>
      </ul>

      <div bb-queue-add-customer services="services" servers="servers" company="company"
        class="col-md-7"></div>

      <div ng-show="selected_queuer" class="col-md-7 pull-right"
        ng-include="'queue/selected_queuer.html'"></div>

      <div ng-show="!selected_queuer" bb-queuers class="col-md-7 queue_column pull-right"></div>
    </div>
  </div>
</section>
