<div class="modal-header">
    <h3 class="modal-title">Add a customer being served by {{add_now_server.name}}</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="row">
      <div class="form-group">
        <label class="col-sm-4 control-label" for="first_name">First Name</label>
        <div class="col-sm-7">
          <input class="form-control" autofocus required ng-model="new_queuer.first_name"
          name="name" type="text" ng-focus="highlighted = true" placeholder="Name">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label class="col-sm-4 control-label" for="last_name">Last Name</label>
        <div class="col-sm-7">
          <input class="form-control" autofocus required ng-model="new_queuer.last_name" name="name"
          type="text" ng-focus="highlighted = true" placeholder="Name">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label class="col-sm-4 control-label" for="mobile">Phone <small>(Optional)</small></label>
        <div class="col-sm-7">
          <input class="form-control"  required ng-model="new_queuer.mobile" name="mobile"
          type="text"  placeholder="Mobile">
        </div>
      </div>
    </div>
  </form>
  <input type="submit" ng-repeat="service in services" value="{{service.name}}"
  ng-click="addQueuer(service); close()" data-dismiss="modal" class="btn  btn-success  btn-block ">
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="selectAddNow(null) && close()">Cancel</button>
</div>
