<div ng-show="loading"><img src='/BB_wait.gif' class="loader"></div>
<div ng-hide="loading">
  <div ng-if="server.serving">
    <h3>Serving {{server.serving.first_name}} {{server.serving.last_name}}</h3>
    <p>Appointment started at {{server.serving.start | datetime: "h:mma":false}}</p>
    <p>Appointment due to finish at {{server.serving.end | datetime: "h:mma":false}}</p>

    <div class="btn-group" uib-dropdown ng-if="person.attendance_status == 1">
      <button type="button" class="btn btn-default" uib-dropdown-toggle>Extend Appointment</button>
      <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu">
        <li><a ng-click="extendAppointment(1)">{{1 | time_period}}</a></li>
        <li><a ng-click="extendAppointment(2)">{{2 | time_period}}</a></li>
        <li><a ng-click="extendAppointment(5)">{{5 | time_period}}</a></li>
        <li><a ng-click="extendAppointment(10)">{{10 | time_period}}</a></li>
        <li><a ng-click="extendAppointment(15)">{{15 | time_period}}</a></li>
        <li><a ng-click="extendAppointment(20)">{{20 | time_period}}</a></li>
        <li><a ng-click="extendAppointment(25)">{{25 | time_period}}</a></li>
        <li><a ng-click="extendAppointment(30)">{{30 | time_period}}</a></li>
      </ul>
    </div>

  </div>
  <div ng-if="!server.serving">
    <h3>Idle</h3>
    <div class="well well-lg" jqyoui-droppable="{onDrop:'serveCustomer'}"
      data-drop="true" ng-model="selected_queuers">
      Drag customer here to serve or click 'Serve next customer'
    </div>
    <button ng-click="serveNext()" class="btn btn-default">
      Serve next customer
    </button>
  </div>
</div>
