<div class="btn-group pull-right" uib-dropdown ng-hide="person.serving || loadingServer" ng-disabled="AdminQueueLoading.getLoadingServerInProgress()">
  <button type="button" class="btn btn-info" uib-dropdown-toggle>Actions</button>
  <button type="button" class="btn btn-info dropdown-toggle" uib-dropdown-toggle aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" uib-dropdown-menu role="menu">
    <li><a ng-click="setAttendance(person, 1)" ng-if="person.attendance_status == 4 && !person.serving">Set Free</a></li>
    <li><a ng-click="setAttendance(person, 1)" ng-if="person.attendance_status == 0 || !person.attendance_status">Set as Available</a></li>
    <li><a ng-click="setAttendance(person, 1)" ng-if="person.attendance_status == 2">Available / End Break</a></li>
    <li><a ng-click="setAttendance(person, 0)" ng-if="person.attendance_status == 1">End Shift</a></li>

    <li class="divider" ng-if="person.attendance_status == 1"></li>
    <li><a ng-click="setAttendance(person, 2, 15)" ng-if="person.attendance_status == 1">On Break for {{15 | time_period}}</a></li>
    <li><a ng-click="setAttendance(person, 2, 30)" ng-if="person.attendance_status == 1">On Break for {{30 | time_period}}</a></li>
    <li><a ng-click="setAttendance(person, 2, 45)" ng-if="person.attendance_status == 1">On Break for {{45 | time_period}}</a></li>
    <li><a ng-click="setAttendance(person, 2, 45)" ng-if="person.attendance_status == 1">On Break for {{60 | time_period}}</a></li>

    <li class="divider" ng-if="person.attendance_status == 1"></li>
    <li><a ng-click="setAttendance(person, 4, 15)" ng-if="person.attendance_status == 1">Mark as busy for {{15 | time_period}}</a></li>
    <li><a ng-click="setAttendance(person, 4, 30)" ng-if="person.attendance_status == 1">Mark as busy for {{30 | time_period}}</a></li>
    <li><a ng-click="setAttendance(person, 4, 45)" ng-if="person.attendance_status == 1">Mark as busy for {{45 | time_period}}</a></li>
    <li><a ng-click="setAttendance(person, 4, 45)" ng-if="person.attendance_status == 1">Mark as busy for {{60 | time_period}}</a></li>

  </ul>
</div>
<div class="btn-group pull-right" ng-hide="loadingServer">
  <button type="button" class="btn btn-success"
    ng-click="finishServingQueuer({person: person, outcomes: true})"
    ng-if="person && person.$has('finish_serving') && person.serving"
    ng-disabled="AdminQueueLoading.getLoadingServerInProgress()">
    Finish Serving
  </button>
  <button type="button" class="btn btn-success"
    ng-click="startServingQueuer(person, selected_queuer)"
    ng-if="selected_queuer && !person.serving && person.attendance_status == 1">
    Serve {{selected_queuer.first_name}}
  </button>
  <button type="button" class="btn btn-success" ng-click="startServingQueuer(person, nil)"
    ng-if="!selected_queuer && !person.serving && person.attendance_status == 1"
    ng-disabled="waiting_queuers.length == 0 || AdminQueueLoading.getLoadingServerInProgress()">
    Serve Next
  </button>
</div>
<div class="btn-group pull-right" ng-hide="loadingServer"
  ng-if="person && person.$has('finish_serving') && person.serving">
  <button type="button" class="btn btn-warning"
    ng-click="finishServingQueuer({person: person, status: 'absent', outcomes: false})"
    ng-disabled="AdminQueueLoading.getLoadingServerInProgress()">
    Mark Absent
  </button>
</div>
