  <style>
     [bb-resource-calendar] {
       max-width: 1800px;
       margin: 10px auto;
     }
  </style>

<div bb-queue-cal >
  <section class="content-header" >
    <h1>
      {{server.name}}
      <small ui-sref="queue.server({id: server.id})"> <i class="fa fa-users"></i>Queue</small>
      <small ui-sref="queue.calendar({id: server.id})" ><i class="fa fa-calendar"></i> Calendar</small>
    </h1>
  </section>

  <div class="row">
    <div class="col-md-12">
      <div class="box box-success">
        <div class="box-body padding" style="display: block;">

          <div bb-resource-calendar-single person="{{server}}">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>