.bb-admin-client {
  text-align: left;

  .bb-button-headers {
    margin-bottom: 70px;
  }

  .form-control {
    border-radius: 0px;
  }

  .input-lg {
    border-radius: 0px;
  }

  tfoot {
    display: none;
  }

}