#language-picker {
  margin: 10px 0;
  padding: 0;
  input {
    width: 100% !important;
  }
}

#language-picker-container {
  padding: 0;
}

// needed when header div is empty
// otherwise elements overlap language picker
.header {
  min-height: 50px;
}