/* .summary-list used in survey only*/
.summary-list {
  margin-bottom: 20px;
  line-height: 1.4;
}

.bb-summary-list {
  margin-bottom: 20px;
  line-height: 1.4;

  .bb-confirmation-summary-item {
    @include make-row();

    .bb-summary-label {
      @include make-sm-column(2);
      @include make-md-column(2);
      @include make-lg-column(1);
    }

    .bb-summary-value {
      @include make-sm-column(10);
      @include make-md-column(10);
      @include make-lg-column(11);
    }

    @media (max-width: $screen-xs-max) {
      margin-bottom: 10px;
      margin-top: 10px;
      .bb-summary-value {
        font-weight: bold;
      }
    }

  }
}

.event-summary-list {
  margin-bottom: 5px;
  li {
    padding-bottom: 5px;
    .bb-icon, .glyphicon {
      color: #666;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
}

// Basket Summary List
.page-summary-var{
  border-bottom: 1px $secondary-border-color solid;
  padding-bottom: 15px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.bb-summary-label{
  padding-top: 10px;
  font-size: 18px;
  color: $brand-primary;
  margin-right: 10px;
  width: 100%;
  @media (max-width: $screen-xs-max) {
    padding-top: 15px;
    width: auto;
    margin-right: 0;
    display: inline-block;
  }
}
.bb-summary-value{
  padding-bottom: 10px;
  font-size: 18px;
  color: #909090;
  @media (max-width: $screen-xs-max) {
    width: auto;
    display: inline-block;
    padding: 0;
  }
}
.bb-confirmation-summary-item{
  display: block;
  float: left;
  margin-right: 40px;
  padding: 10px 0 10px 0;
  font-weight: bold;
  @media (max-width: $screen-xs-max) {
    float: none;
    width: auto;
    padding: 0;
  }
}
.page-summary-header{
  height: 1px;
  border-bottom: 1px $secondary-border-color solid;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.page-summary-header-text{
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  display: inline-block;
  bottom: 12px;
  color: $brand-primary;
  background-color: white;
  font-size: 27px;
  text-align: center;
  margin: 0 auto;
}
