div[bb-multi-service-select] {
  .filters .panel-body {
    max-height: 300px;
    min-height: 100px;
  }
  .panel-body {
    padding: 0;
    font-weight: bold;
  }

  .bb-list-item {
    margin-bottom: 5px;
    margin-top: 5px;

    .item-description {
      padding: 10px;
    }
  }

  .btn {
    margin-top: -5px;
  }

  .service-list-selected {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    h2 {
      text-align: center;
    }
    ul {
      margin-top: 15px;
    }
  }
  @media (min-width: $screen-xs-min) {
    .form-control {
      width: 50%;
      margin-left: -12.5%;
      padding-left: 25px;
    }
  }
}

