<div class="row">

  <div class="col-sm-9">

    <h4>
      <span ng-hide="booking.$link('event_chain')">{{booking.service_name}}</span>
      <span ng-show="booking.$link('event_chain')">{{booking.$link('event_chain').title}}</span>
    </h4>

    <ul class="bb-list bb-list-horizontal">
      <li>
        <i class="fa fa-calendar" aria-hidden="true"></i>
        {{booking.datetime | datetime: 'L'}}
      </li>
      <li>
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        {{booking.datetime | datetime: 'LT'}} - {{booking.end_datetime | datetime: 'LT'}}
      </li>
      <li>
        <i class="fa fa-home" aria-hidden="true"></i>
        {{booking.getCompany().name}}
      </li>
      <!-- <li>
        <span class="bb-btn bb-btn-link" ng-hide="booking.show_more" ng-click="booking.show_more = true">
          More
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </span>
        <span class="bb-btn bb-btn-link" ng-show="booking.show_more" ng-click="booking.show_more = false">
          Less
          <i class="fa fa-chevron-up" aria-hidden="true"></i>
        </span>
      </li> -->
    </ul>

    <div>
      <!-- location, address, google map, payment details, booking id -->
    </div>

  </div>

  <div class="col-sm-3">

    <button
      type="button"
      ng-click="actions[0].action(booking)"
      class="btn btn-default pull-right"
      ng-disabled="actions[0].disabled"
      ng-show="actions.length == 1">
      {{actions[0].label}}
    </button>

    <div
      class="btn-group pull-right"
      uib-dropdown
      ng-show="actions.length > 1">
      <button
        type="button"
        ng-click="actions[0].action(booking)"
        class="btn btn-default"
        ng-disabled="actions[0].disabled">
        {{actions[0].label}}
      </button>
      <button
        type="button"
        class="btn btn-default dropdown-toggle"
        uib-dropdown-toggle>
        <span class="caret"></span>
        <span
          class="sr-only"
          translate="MEMBER.BOOKING.TOGGLE_DROPDOWN_BTN">
        </span>
      </button>
      <ul
        class="dropdown-menu"
        uib-dropdown-menu role="menu">
        <li
          ng-click="action.action(booking)"
          ng-disabled="action.disabled"
          ng-repeat="action in actions | startFrom: 1">
          <a href>{{action.label}}</a>
        </li>
      </ul>
    </div>

  </div>

</div>