<div class="modal-header">
  <button type="button" class="close" ng-click="cancel($event)">&times;</button>
  <h3 class="modal-title">{{title}}</h3>
</div>
<form name="booking_form" ng-submit="submit(modal_form)">
  <div class="member_booking_form_content modal-body" bb-modal>
    <p>{{form_model.full_describe}}</p>
    <p>{{form_model.describe}}</p>
    <div sf-schema="schema" sf-form="form" sf-model="form_model" sf-options="{formDefaults: {feedback: false}}">
    </div>
  </div>
  <div class="modal-footer">
    <input type="submit" class="btn btn-primary" value="Save">
    <button class="btn btn-default" ng-click="cancel($event)" translate="PROGRESS_CANCEL"></button>
  </div>
</form>
