<form
  name="login_form"
  ng-submit="submit()"
  class="form-horizontal"
  role="form">
  <div
    class="alert alert-danger"
    role="alert"
    ng-if="alert && alert.length > 0">
    {{alert}}
  </div>
  <div ng-class="{'form-group': true, 'has-error': emailIsInvalid()}">
    <label
      for="email"
      class="col-sm-2 control-label"
      translate="MEMBER.LOGIN.EMAIL_LBL"> 
    </label>
    <div class="col-sm-10">
      <input
        type="email"
        ng-model="email"
        name="email"
        class="form-control"
        id="email"
        required
        autofocus
        autocomplete="email"
        translate-attr="{placeholder: 'MEMBER.LOGIN.EMAIL_PLACEHOLDER'}"
      />
    </div>
  </div>
  <div ng-class="{'form-group': true, 'has-error': passwordIsInvalid()}">
    <label
      for="password"
      class="col-sm-2 control-label"
      translate="MEMBER.LOGIN.PASSWORD_LBL">
    </label>
    <div class="col-sm-10">
      <input
        type="password"
        ng-model="password"
        name="password"
        class="form-control"
        id="password"
        required
        translate-attr="{placeholder: 'MEMBER.LOGIN.PASSWORD_PLACEHOLDER'}"
      />
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button
        type="submit"
        class="btn btn-primary"
        translate="MEMBER.LOGIN.LOGIN_BTN">
      </button>
    </div>
  </div>
</form>
