<div class="bb-member-bookings">
   <div
    uib-tabset
    class="bb-tabs">
    <div uib-tab>
      <div
        uib-tab-heading
        translate="MEMBER.BOOKING_TABS.UPCOMING_BOOKINGS_TAB_HEADING">
      </div>
      <div id="member">
        <div
          bb-member-upcoming-bookings
          not-loaded="notLoaded"
          set-loaded="setLoaded"
          member="member">
        </div>
      </div>
    </div>
    <div uib-tab>
      <div
        uib-tab-heading
        translate="MEMBER.BOOKING_TABS.PAST_BOOKINGS_TAB_HEADING">
      </div>
      <div id="member">
        <div
          bb-member-past-bookings
          not-loaded="notLoaded"
          set-loaded="setLoaded"
          member="member">
        </div>
      </div>
    </div>
    <div uib-tab>
      <div
        uib-tab-heading
        translate="MEMBER.BOOKING_TABS.PURCHASES_TAB_HEADING">
      </div>
      <div id="member">
        <div
          bb-member-purchases
          member="member">
        </div>
      </div>
    </div>
  </div>
</div>
