<div>

  <div ng-show="upcoming_bookings.length == 0">
    <h3 translate="MEMBER.MEMBER_UPCOMING_BOOKINGS.NO_UPCOMING_BOOKINGS"></h3>
  </div>

  <div
    class="bb-section"
    ng-show="waitlist_bookings.length > 0">

    <h3 translate="MEMBER.MEMBER_UPCOMING_BOOKINGS.ON_WAITLIST_HEADING"></h3>

    <ul class="bb-list bb-list-bordered">

      <li
        bb-member-booking="booking"
        ng-repeat="booking in (waitlist_bookings = (upcoming_bookings | filter:{deleted: false, on_waitlist: true} | orderBy: 'datetime.unix()'))">
      </li>

    </ul>

  </div>

  <div
    class="bb-section"
    ng-show="confirmed_bookings.length > 0"
    bb-scroll-to="page:changed">

    <h3 translate="MEMBER.MEMBER_UPCOMING_BOOKINGS.CONFIRMED_HEADING"></h3>

    <ul class="bb-list bb-list-bordered">

      <li
        bb-member-booking="booking"
        ng-repeat="booking in (confirmed_bookings = (upcoming_bookings | filter:{deleted: false, on_waitlist: false} | orderBy: 'datetime.unix()' | startFrom: (pagination.current_page - 1) * pagination.page_size | limitTo: pagination.page_size))">
      </li>

    </ul>

    <div
      uib-pagination total-items="pagination.num_items"
      ng-model="pagination.current_page"
      items-per-page="pagination.page_size"
      max-size="pagination.max_size"
      boundary-links="true"
      rotate="false"
      num-pages="pagination.num_pages"
      ng-show="upcoming_bookings && upcoming_bookings.length > 10">    
    </div>

  </div>

</div>
