<div class="bb-member-purchases">

  <div>
    <span id="your_bookings" translate="YOUR_PURCHASES"></span>

    <div ng-show="purchases && purchases.length == 0">
      <h3 translate="NO_CURRENT_PURCHASES"></h3>
    </div>

    <div ng-show="purchases && purchases.length != 0" class="row bb-list-table-header">

      <div class="col-xs-1">
        #
      </div>

      <div class="col-xs-3">
        Purchase Date
      </div>

      <div class="col-xs-offset-2 col-xs-2">
        Items
      </div>

      <div class="col-xs-2">
        Total Price
      </div>
      <div class="col-xs-2">
      </div>

    </div>

    <ul class="bb-list bb-list-bordered">

      <li ng-repeat="purchase in purchases | startFrom: (pagination.current_page - 1) * pagination.page_size | limitTo: pagination.page_size">

        <div class="row">

          <div class="col-xs-1">
            {{purchase.id}}
          </div>

          <div class="col-xs-3">
            {{purchase.created_at | datetime:'L'}}
          </div>

          <div class="col-xs-offset-2 col-xs-2">
            {{purchase.purchase_items.length}}
          </div>

          <div class="col-xs-2">
            {{purchase.total_price | pretty_price}}
          </div>

          <div class="col-xs-2">

            <span class="bb-btn bb-btn-link" ng-hide="purchase.show_more" ng-click="purchase.show_more = true">
            More
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </span>
            <span class="bb-btn bb-btn-link" ng-show="purchase.show_more" ng-click="purchase.show_more = false">
              Less
              <i class="fa fa-chevron-up" aria-hidden="true"></i>
            </span>

          </div>

        </div>

        <ul class="bb-list bb-list-sm margin-top-10" ng-show="purchase.show_more">

          <li ng-repeat="item in purchase.purchase_items">

            <div class="row">

              <div class="col-xs-8">
                {{item.full_describe}}
              </div>

              <div class="col-xs-2">
                {{item.price | pretty_price}}
              </div>

            </div>

          </li>
        </ul>



      </li>
    </ul>


    <div uib-pagination total-items="pagination.num_items"
      ng-model="pagination.current_page" items-per-page="pagination.page_size"
      max-size="pagination.max_size" boundary-links="true" rotate="false"
      num-pages="pagination.num_pages" ng-show="purchases && purchases.length > 10"></div>

  </div>
</div>
