<div class="modal-header">
  <h1 class="modal-title" translate="PROGRESS_CANCEL_BOOKING"></h1>
</div>

<div class="modal-body">

  <ul class="confirmation-summary">
    <li class="row confirmation-summary-item">
      <div class="col-xs-3" translate="BOOKING"></div>
      <div class="col-xs-9">{{booking.full_describe}}</div>
    </li>
    <li class="row confirmation-summary-item">
      <div class="col-xs-3" translate="ITEM_WHEN"></div>
      <div class="col-xs-9">{{booking.datetime | datetime: "LLLL" : false}}</div>
    </li>
  </ul>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="confirm_delete()" translate="PROGRESS_CANCEL_BOOKING"></button>
  <button class="btn btn-link" ng-click="cancel()" translate="PROGRESS_CANCEL_CANCEL"></button>
</div>
