<div ng-show="loading"><img src='/BB_wait.gif' class="loader"></div>
<div ng-hide="loading" class="bb-upcoming clearfix">
  <div id="bookings">
    <div ng-if="pre_paid_bookings.length == 0">
      <h3>You don't currently have any pre-paid bookings.</h3>
    </div>
    <div ng-repeat="booking in pre_paid_bookings | startFrom: (pagination.current_page - 1) * pagination.page_size | limitTo: pagination.page_size" class="booking-row">
      <div class="describe">
        <div class="detail">{{booking.service_name}}</div>
        <div class="resource">{{booking.remaining}} of {{booking.num_bookings}} remaining</div>
      </div>
    </div>

    <pagination total-items="pagination.num_items"
      ng-model="pagination.current_page" items-per-page="pagination.page_size"
      max-size="pagination.max_size" boundary-links="true" rotate="false"
      num-pages="pagination.num_pages" ng-show="pre_paid_bookings && pre_paid_bookings.length > 10"></pagination>

  </div>
</div>
