<div ng-show="loading">
  <img
    src="/BB_wait.gif"
    class="loader">
</div>
<div
  ng-hide="loading"
  class="bb-upcoming clearfix">
  <div class="bookings">
    <div ng-show="pre_paid_bookings.length == 0">
      <h3 translate="MEMBER.PREPAID_BOOKINGS.NO_PREPAID_BOOKINGS"></h3>
    </div>

    <ul class="bb-list bb-banded-list">
      <li
        ng-repeat="booking in pre_paid_bookings | startFrom: (pagination.current_page - 1) * pagination.page_size | limitTo: pagination.page_size"
        class="bb-list-item">
        <div class="row">
          <div class="col-xs-4">{{booking.service_name}}</div>
          <div class="col-xs-8">
            <span
              translate="MEMBER.PREPAID_BOOKINGS.REMAINING_BOOKINGS"
              translate-values="{remaining: booking.remaining, total: booking.num_bookings}">
            </span>
            <span>|</span>
            <span
              translate="MEMBER.PREPAID_BOOKINGS.PREPAID_BOOKING_DATES"
              translate-values="{
                book_by: (booking.book_by | datetime: 'L'),
                use_from: (booking.use_from | datetime: 'L'),
                use_by: (booking.use_by | datetime: 'L')
              }">
            </span>
          </div>
        </div>
      </li>
    </ul>

    <div
      uib-pagination
      total-items="pagination.num_items"
      ng-model="pagination.current_page"
      items-per-page="pagination.page_size"
      max-size="pagination.max_size"
      boundary-links="true"
      rotate="false"
      num-pages="pagination.num_pages"
      ng-show="pre_paid_bookings && pre_paid_bookings.length > 10">
    </div>

  </div>
</div>
