<div ng-show="loading"><img src='/BB_wait.gif' class="loader"></div>
<table tr-ng-grid="" items="bookings" enable-filtering="false"
  ng-hide="loading" fields="fields" order-by="orderBy">
  <thead>
    <tr>
      <th field-name="date_order" display-name="Date/Time"></th>
      <th field-name="details" display-name="Description"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td field-name="date_order"><span>{{gridItem.datetime}}</span></td>
      <td field-name="details"><span>{{gridItem.details}}</span></td>
      <td>
        <button class="btn btn-default btn-sm"
          ng-hide="gridItem.date < now"
          ng-click="cancel(gridItem.id)"
          translate="PROGRESS_CANCEL">
        </button>
        <button class="btn btn-default btn-sm"
          ng-hide="gridItem.date < now"
          ng-click="edit(gridItem.id)"
          translate="DETAILS_WORD">
        </button>
      </td>
    </tr>
  </tbody>
</table>

