<div>

  <div ng-show="!paginator.hasItems()">
    <h3>Nothing to show</h3>
  </div>

  <div class="bb-section" bb-scroll-to="page:changed" ng-show="paginator.hasItems()">>

    <ul class="bb-list bb-list-bordered">

      <li bb-member-booking="booking" ng-repeat="booking in paginator.items | startFrom: (paginator.current_page - 1) * paginator.page_size | limitTo: paginator.page_size track by $index""></li>

    </ul>

  </div>

  <pagination total-items="paginator.num_items"
    ng-model="paginator.current_page" items-per-page="paginator.page_size"
    max-size="paginator.max_size" boundary-links="true" rotate="false"
    num-pages="paginator.num_pages" ng-show="paginator.num_items > paginator.page_size" ng-change="pageChanged()"></pagination>

</div>

