<div>
  <h4 translate="WALLET_TRANSACTION_HISTORY"></h4>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th translate="ACTION"></th>
        <th translate="AMOUNT"></th>
        <th translate="BALANCE"></th>
        <th translate="CHANGED_BY"></th>
        <th translate="DATE_AND_TIME"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="log in logs | startFrom: (pagination.current_page - 1) * pagination.page_size | limitTo: pagination.page_size" ng-class="{'last-item': $last}">
        <td>
          {{log.action}}
        </td>
        <td class="text-right">
          {{log.payment_amount | currency}}
        </td>
        <td class="text-right">
          {{log.new_wallet_amount | currency}}
        </td>
        <td class="text-center">
          {{log.who_made_the_change}}
        </td>
        <td class="text-center">
          {{log.created_at | datetime: "L LT"}}
        </td>
      </tr>
    </tbody>
  </table>

  <pagination total-items="pagination.num_items"
    ng-model="pagination.current_page" items-per-page="pagination.page_size"
    max-size="pagination.max_size" boundary-links="true" rotate="false"
    num-pages="pagination.num_pages" ng-show="logs && logs.length > 10"></pagination>
  
</div>
