<div ng-show="loading"><img src='/BB_wait.gif' class="loader"></div>
<div ng-hide="loading">
  <div ng-if="amount"class="bb-head">
    <span id="wallet"> Your Wallet </span>
  </div>
  <div class="wallet-balance">
    <div ng-if="wallet.amount == 0">
      <span>Balance: </span><span> You dont have any credit in your wallet. </span>
    </div>
    <div ng-if="wallet.amount > 0">
      <span>Balance: </span> <span id="balance"> {{wallet.amount | icurrency:wallet.wallet_currency }} </span>
    </div>
  </div>
  </hr>
  <div class="wallet-status">
    <div ng-hide="wallet.active">
      <span>Status:</span><span><b> Your wallet is not active.</b></span> <span><button ng-click="activateWallet(member)"> Activate </button></span>
    </div>
    <div ng-show="wallet.active">
      <span>Status:</span><span id="status"><b> Active </b></span>
    </div>
  </div>
  </br>

  <div ng-if="error_message" class="alerts">
    <p class="error_message" ng-bind-html="error_message"></p>
  </div>

  <div ng-if="payment_success" class="alerts">
    <p class="success_message"> You have successfully topped up your wallet! Your new balance is {{wallet.amount | icurrency:wallet.wallet_currency}}</p>
  </div>

  <div>
    <button type="button" class="bb-bookings-action" ng-click="(show_topup_box = true);(show_wallet_logs = false);(error_message = false)">Top Up</button>
  </div>
  <br>
  <div ng-if="wallet.$has('logs')">
    <button ng-click="toggleWalletPaymentLogs();(show_topup_box = true)"> Wallet Payments </button>
     <div ng-if="show_wallet_logs">
      <div bb-wallet-logs wallet="wallet"></div>
    </div>
  </div>

  <div ng-if="!show_wallet_logs && !error_message" bb-wallet-payment>

    <div class="bb-content">
      <div ng-form class="form-inline">
        <div ng-show="showTopUpBox()" class="form-group">
          <label for="amount">Amount:</label>
          <div class="input-group">
            <input type="number" class="form-control input-sm" id="amount" name="amount" ng-model="amount" placeholder="Enter Top Up Amount">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary btn-sm" ng-disabled="!amount && ((amount * 100) < wallet.min_amount)" ng-click="updateWallet(member, amount)">Top Up Wallet</button>
            </span>
          </div>
          <br>
          <small> Minimum top up amount must be greater than {{wallet.min_amount | icurrency }} </small>
        </div>
      </div>

      <div ng-if="wallet.$has('new_payment')" class="bb-payment">
        <div class="bb-head">
          <h3> Make Payment </h3>
        </div>
        <div id="bb-payment">
          <iframe id="bb-widget" ng-src="{{wallet_payment_url}}" width="100%"scrolling="no" frameborder="0"></iframe>
        </div>
        <script type="text/javascript">
          iFrameResize([{log:true, checkOrigin:false}],['#bb-widget']);
       </script> 
      </div>
    </div>
  </div>

</div>