<section class="content-header">
  <h3>
      <a ui-sref="clients.all" translate="ADMIN_DASHBOARD.CLIENTS_PAGE.CLIENTS"></a> <i class="fa fa-chevron-right"></i> {{client.name}}
  </h3>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-3">
      <!-- Profile Image -->
      <div class="box box-primary">
        <div class="box-body box-profile">

          <h4 class="profile-username text-center">{{client.first_name}}</h4>

          <p class="text-muted text-center">
            <span ng-bind-html="(client.email || 'empty') | linky"></span>
          </p>

          <table class="table table-striped">
            <tr ng-if="client.mobile">
              <td><b translate="ADMIN_DASHBOARD.CLIENTS_PAGE.MOBILE"></b></td>
              <td><a class="pull-right" ng-href="tel:{{client.mobile}}" target=_blank>{{client.fullMobile()}}</a></td>
            </tr>
            <tr ng-if="client.phone">
              <td><b translate="ADMIN_DASHBOARD.CLIENTS_PAGE.PHONE"></b></td>
              <td><a class="pull-right"  ng-href="tel:{{client.phone}}" target=_blank>{{client.phone}}</a></td>
            </tr>
          </table>

          <div ng-if="client.addressMultiLine()">
            <strong><i class="fa fa-map-marker margin-r-5"></i> <b translate="ADMIN_DASHBOARD.CLIENTS_PAGE.ADDRESS"></b></strong>
            <p class="text-muted">
              <span ng-bind-html="client.addressMultiLine()">
              <br clear='all'/>
            </p>
            <hr/>
          </div>

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <div class="col-md-9">

      <uib-tabset class="bb-tabs nav-tabs-custom">

        <uib-tab id="client-upcoming-booking-tab">
          <uib-tab-heading translate="ADMIN_DASHBOARD.CLIENTS_PAGE.UPCOMING_BOOKINGS">

          </uib-tab-heading>

          <div bb-admin-member-bookings-table member="client"></div>

        </uib-tab>

        <uib-tab  id="client-past-booking-tab">
          <uib-tab-heading translate="ADMIN_DASHBOARD.CLIENTS_PAGE.PAST_BOOKINGS">

          </uib-tab-heading>

          <div bb-admin-member-bookings-table member="client"
            start-date="historicalStartDate"
            end-date="historicalEndDate"></div>

        </uib-tab>

        <uib-tab id="client-details-tab" >
          <uib-tab-heading translate="ADMIN_DASHBOARD.CLIENTS_PAGE.CUSTOMER_DETAILS">

          </uib-tab-heading>

          <div member-form member="client" on-success-save="memberSaveCallback"></div>

        </uib-tab>


      </uib-tabset>

    </div>
  </div>
</section>