<div class="loginWrapper">
  <div class="inner row">
    <div class="col-md-4 col-md-offset-4">

      <div class="login-logo-container">
        <span class="login-logo"></span>
      </div>

      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title">
            <i ng-show="template_vars.show_loading" class="pull-right fa fa-circle-o-notch" ng-class="{'fa-spin': template_vars.show_loading}"></i>
          </h3>
        </div>

        <div class="panel-body">
          <form sf-schema="resetPasswordSchema" sf-form="resetPasswordForm" sf-model="resetPasswordModel"></form>
        </div>
      </div>
    </div>

  </div>
</div>


<!-- <div bb-login>
  <div ng-form name="password_reset_form" role="form" novalidate bb-form>
   <div class="section-heading">
    <h2 class="section-title">Enter your new password</h2>
  </div>
  <div ng-hide="password_reset">

    <div class="form-group row" ng-class="{'has-error': password_reset_form.email.$invalid && (email_password_reset_form.email.$dirty|| email_password_reset_form.submitted)}">
      <label for="new_password" class="control-label col-sm-2 col-sm-offset-2">New Password:</label>
      <div class="col-sm-4">
        <input type="new_password" name="new_password" id="new_password" required ng-model="new_password" class="form-control"/>
      </div>
    </div>

    <div class="form-group row">
      <label for="confirm_new_password" class="control-label col-sm-2 col-sm-offset-2">Confirm New Password:</label>
      <div class="col-sm-4">
        <input type="confirm_new_password" name="confirm_new_password" id="confirm_new_password" required ng-model="confirm_new_password" class="form-control"/>
      </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-2 col-sm-offset-4">
      <button type="submit" class="btn btn-default" ng-disabled="email_password_reset_form.email.$pristine" ng-click="validator.validateForm(email_password_reset_form) && sendPasswordReset(email,true)" bb-debounce>Submit</button>
      </div>
    </div>
  </div>
  <div ng-if="email_sent">
    Thanks for resetting your password. You will receive an email shortly with instructions to complete this process.
  </div>

  <div ng-if="error">
    Sorry we couldn't update your password successfully. Please try again or <a ng-href="mailto:{{bb.company.email}}?Subject=Password%20Reset" target="_top"> contact </a> our support team.
  </div>
</div>
</div>
-->
