<div class="loginWrapper">
  <div class="inner row">
    <div class="col-md-4 col-md-offset-4">
      <form name="resetPasswordForm" ng-model="resetPasswordForm" ng-submit="sendResetPassword(login.email)">
        <div class="login-logo-container">
          <span class="login-logo"></span>
        </div>

        <div class="panel panel-default" ng-show="template_vars.show_reset_password || template_vars.show_reset_password_fail">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i ng-show="template_vars.show_loading" class="pull-right fa fa-circle-o-notch" ng-class="{'fa-spin': template_vars.show_loading}"></i>
              <span ng-show="template_vars.show_reset_password || template_vars.show_reset_password_fail" translate="ADMIN_DASHBOARD.RESET_PASSWORD_PAGE.ENTER_EMAIL"></span>
            </h3>
          </div>
          <div class="panel-body">
            <div uib-alert ng-repeat="alert in formErrors" class="alert-danger" close="formErrors.splice($index, 1)"><span translate="{{alert.message}}"></span></div>
            <div class="form-group">
              <label for="username"><span translate="ADMIN_DASHBOARD.RESET_PASSWORD_PAGE.EMAIL_LABEL"></span></label>
              <input type="text" name="username" ng-model="login.email" required="required" class="form-control" id="username">
            </div>
          </div>
          <div class="panel-footer">
            <button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="template_vars.show_loading"><i class="fa fa-paper-plane-o"></i>
              <span translate="ADMIN_DASHBOARD.RESET_PASSWORD_PAGE.RESET_PASSWORD_BTN"></span>
            </button>
            <a type="button" ng-click="goBackToLogin()" class="btn btn-link" ng-disabled="template_vars.show_loading">
              <span translate="ADMIN_DASHBOARD.RESET_PASSWORD_PAGE.BACK_BTN"></span>
            </a>
          </div>
        </div>

        <div class="panel panel-default" ng-show="template_vars.show_reset_password_success">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i ng-show="template_vars.show_loading" class="pull-right fa fa-circle-o-notch" ng-class="{'fa-spin': template_vars.show_loading}"></i>
              <span ng-show="template_vars.show_reset_password_success" translate="ADMIN_DASHBOARD.RESET_PASSWORD_PAGE.FORM_SUBMIT_SUCCESS"></span>
            </h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <p><span ng-show="template_vars.show_reset_password_success" translate="ADMIN_DASHBOARD.RESET_PASSWORD_PAGE.FORM_SUBMIT_SUCCESS_MSG"></span>
              </p>
            </div>
          </div>
          <div class="panel-footer">
            <a type="button" ng-click="goBackToLogin()" class="btn btn-link" ng-disabled="template_vars.show_loading">Back</a>
          </div>
        </div>


      </form>
    </div>

  </div>
</div>
