<div class="loginWrapper">
  <div class="inner row">
    <div class="col-md-4 col-md-offset-4">

      <form bb-form novalidate name="resetPasswordEmailForm" role="form" ng-model="$resetPasswordCtrl.resetPasswordEmailForm" ng-submit="$resetPasswordCtrl.validator.validateForm(resetPasswordEmailForm) && $resetPasswordCtrl.sendResetPassword($resetPasswordCtrl.resetPasswordEmail, $resetPasswordCtrl.resetPasswordSite)">

        <div class="login-logo-container">
          <span class="login-logo"></span>
        </div>

        <div class="panel panel-default">

          <div class="panel-heading">
            <h3 class="panel-title">
              <i ng-show="$resetPasswordCtrl.showLoading" class="pull-right fa fa-circle-o-notch" ng-class="{'fa-spin': $resetPasswordCtrl.showLoading}"></i>
              <span ng-show="!$resetPasswordCtrl.resetPasswordSuccess" translate="ADMIN_DASHBOARD.RESET_PASSWORD_PAGE.ENTER_EMAIL"></span>
              <span ng-show="$resetPasswordCtrl.resetPasswordSuccess" translate="ADMIN_DASHBOARD.RESET_PASSWORD_PAGE.FORM_SUBMIT_SUCCESS"></span>
            </h3>
          </div>

          <div class="panel-body" ng-show="!$resetPasswordCtrl.resetPasswordSuccess">

            <div uib-alert ng-repeat="alert in $resetPasswordCtrl.formErrors" class="alert-danger" close="$resetPasswordCtrl.formErrors.splice($index, 1)">
              <span translate="{{alert.message}}"></span>
            </div>

            <div class="form-group" ng-show="$resetPasswordCtrl.showApiField || ($resetPasswordCtrl.resetPasswordSite == '')" ng-class="{'has-error': resetPasswordEmailForm.reset_password_site.$invalid && (!resetPasswordEmailForm.reset_password_site.$pristine || resetPasswordEmailForm.submitted)}">
              <label for="reset_password_site">
                <span translate="ADMIN_DASHBOARD.RESET_PASSWORD_PAGE.SITE_LBL"></span>
              </label>
              <input type="text" ng-model="$resetPasswordCtrl.resetPasswordSite" class="form-control"
                name="reset_password_site"
                id="reset_password_site"
                autocomplete="on"
                ng-required="$resetPasswordCtrl.showApiField">
              <div ng-messages="resetPasswordEmailForm.reset_password_site.$error" ng-show="resetPasswordEmailForm.submitted" role="alert">
                <div class="error-message" ng-message="required">
                  <span translate="ADMIN_DASHBOARD.RESET_PASSWORD_PAGE.ERROR_REQUIRED"></span>
                </div>
              </div>
            </div>

            <div class="form-group" ng-class="{'has-error': resetPasswordEmailForm.reset_password_email.$invalid && (!resetPasswordEmailForm.reset_password_email.$pristine || resetPasswordEmailForm.submitted)}">
              <label for="reset_password_email">
                <span translate="ADMIN_DASHBOARD.RESET_PASSWORD_PAGE.EMAIL_LBL"></span>
              </label>
              <input type="email" ng-model="$resetPasswordCtrl.resetPasswordEmail" class="form-control"
                ng-pattern="$resetPasswordCtrl.validator.getEmailPattern()"
                name="reset_password_email"
                id="reset_password_email"
                autocomplete="on"
                required>
              <div ng-messages="resetPasswordEmailForm.reset_password_email.$error" ng-show="resetPasswordEmailForm.submitted" role="alert">
                <div class="error-message" ng-message="required">
                  <span translate="ADMIN_DASHBOARD.RESET_PASSWORD_PAGE.ERROR_REQUIRED"></span>
                </div>
                <div class="error-message" ng-message="pattern">
                  <span translate="ADMIN_DASHBOARD.RESET_PASSWORD_PAGE.ERROR_EMAIL_INVALID"></span>
                </div>
              </div>
            </div>

          </div>

          <div class="panel-body" ng-show="$resetPasswordCtrl.resetPasswordSuccess">
            <div class="form-group">
              <span translate="ADMIN_DASHBOARD.RESET_PASSWORD_PAGE.FORM_SUBMIT_SUCCESS_MSG"></span>
            </div>
          </div>

          <div class="panel-footer">
            <button type="submit" class="btn btn-primary btn-lg btn-block" ng-show="!$resetPasswordCtrl.resetPasswordSuccess" ng-disabled="$resetPasswordCtrl.showLoading">
              <i class="fa fa-paper-plane-o"></i>
              <span translate="ADMIN_DASHBOARD.RESET_PASSWORD_PAGE.RESET_PASSWORD_BTN"></span>
            </button>
            <a type="button" ng-click="$resetPasswordCtrl.goBackToLogin()" class="btn btn-link" ng-disabled="$resetPasswordCtrl.showLoading">
              <span translate="ADMIN_DASHBOARD.RESET_PASSWORD_PAGE.BACK_BTN"></span>
            </a>
          </div>

        </div>

      </form>

    </div>

  </div>
</div>
