<div class="loginWrapper">
  <div class="inner row">
    <div class="col-md-4 col-md-offset-4">

      <form bb-form novalidate name="resetPasswordForm" role="form" ng-model="$resetPasswordCtrl.resetPasswordForm" ng-submit="$resetPasswordCtrl.validator.validateForm(resetPasswordForm) && $resetPasswordCtrl.submitSchemaForm($resetPasswordCtrl.new_password)">

        <div class="login-logo-container">
          <span class="login-logo"></span>
        </div>

        <div class="panel panel-default">

          <div class="panel-heading">
            <h3 class="panel-title">
              <i ng-show="$resetPasswordCtrl.showLoading" class="pull-right fa fa-circle-o-notch" ng-class="{'fa-spin': $resetPasswordCtrl.showLoading}"></i>
              <span ng-show="!$resetPasswordCtrl.resetPasswordSuccess" translate="ADMIN_DASHBOARD.RESET_PASSWORD_PAGE.ENTER_NEW_PASSWORD"></span>
              <span ng-show="$resetPasswordCtrl.resetPasswordSuccess" translate="ADMIN_DASHBOARD.RESET_PASSWORD_PAGE.PASSWORD_RESET_SUCCESS"></span>
            </h3>
          </div>

          <div class="panel-body" ng-show="!$resetPasswordCtrl.resetPasswordSuccess">

            <div uib-alert ng-repeat="alert in $resetPasswordCtrl.formErrors" class="alert-danger" close="$resetPasswordCtrl.formErrors.splice($index, 1)"><span translate="{{alert.message}}"></span></div>

            <div class="form-group" ng-class="{'has-error': resetPasswordForm.new_password.$invalid && (!resetPasswordForm.new_password.$pristine || resetPasswordForm.submitted)}">
              <label for="new_password" class="control-label">
                <span translate="ADMIN_DASHBOARD.RESET_PASSWORD_PAGE.NEW_PASSWORD_LABEL"></span>
              </label>
              <input type="password" ng-model="$resetPasswordCtrl.new_password" class="form-control"
                ng-pattern="$resetPasswordCtrl.reset_password_pattern"
                name="new_password"
                id="new_password"
                autocomplete="off"
                required>
              <div ng-messages="resetPasswordForm.new_password.$error" ng-show="resetPasswordForm.submitted" role="alert">
                <div class="error-message" ng-message="required">
                  <span translate="ADMIN_DASHBOARD.RESET_PASSWORD_PAGE.ERROR_REQUIRED"></span>
                </div>
                <div class="error-message" ng-message="pattern">
                  <span translate="ADMIN_DASHBOARD.RESET_PASSWORD_PAGE.ERROR_PASSWORD_PATTERN"></span>
                </div>
              </div>
            </div>

            <div class="form-group" ng-class="{'has-error': resetPasswordForm.confirm_new_password.$invalid && (!resetPasswordForm.confirm_new_password.$pristine || resetPasswordForm.submitted)}">
              <label for="confirm_new_password">
                <span translate="ADMIN_DASHBOARD.RESET_PASSWORD_PAGE.CONFIRM_NEW_PASSWORD_LABEL"></span>
              </label>
              <input bb-match-input="$resetPasswordCtrl.new_password" type="password" ng-model="$resetPasswordCtrl.confirm_new_password" class="form-control"
                name="confirm_new_password"
                id="confirm_new_password"
                autocomplete="off"
                required>
              <div ng-messages="resetPasswordForm.confirm_new_password.$error" ng-show="resetPasswordForm.submitted" role="alert">
                <div class="error-message" ng-message="required">
                  <span translate="ADMIN_DASHBOARD.RESET_PASSWORD_PAGE.ERROR_REQUIRED"></span>
                </div>
                <div class="error-message" ng-message="match">
                  <span translate="ADMIN_DASHBOARD.RESET_PASSWORD_PAGE.ERROR_PASSWORD_MATCH"></span>
                </div>
              </div>
            </div>

          </div>

          <div class="panel-body" ng-show="$resetPasswordCtrl.resetPasswordSuccess">
            <div class="form-group">
              <span translate="ADMIN_DASHBOARD.RESET_PASSWORD_PAGE.PASSWORD_RESET_SUCCESS_MSG"></span>
            </div>
          </div>

          <div class="panel-footer">
            <button type="submit" class="btn btn-primary btn-lg btn-block" ng-show="!$resetPasswordCtrl.resetPasswordSuccess" ng-disabled="$resetPasswordCtrl.showLoading"><i class="fa fa-paper-plane-o"></i>
              <span translate="ADMIN_DASHBOARD.RESET_PASSWORD_PAGE.RESET_PASSWORD_BTN"></span>
            </button>
            <a type="button" ng-click="$resetPasswordCtrl.goBackToLogin()" class="btn btn-link" ng-disabled="$resetPasswordCtrl.showLoading">
              <span translate="ADMIN_DASHBOARD.RESET_PASSWORD_PAGE.BACK_BTN"></span>
            </a>
          </div>

        </div>

      </form>

    </div>

  </div>
</div>
