<button
  type="button"
  class="btn btn-default"
  ng-click="newService()"
  translate="SERVICES.SERVICE_TABLE.NEW_SERVICE">
</button>
<table
  tr-ng-grid=""
  items="services"
  fields="fields">
  <tbody>
  <tr>
    <td>
      <div class="btn-toolbar">
        <button
          type="button"
          class="btn btn-default btn-sm"
          ng-click="edit(gridItem)"
          translate="SERVICES.SERVICE_TABLE.EDIT">
        </button>
        <button
          type="button"
          class="btn btn-default btn-sm"
          ng-click="newBooking(gridItem)"
          translate="SERVICES.SERVICE_TABLE.BOOK_BTN">
        </button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
