<ul class="sidebar-menu">
	<li ng-class="{active: isState('members')}">
		<a ui-sref="members"><i class="fa fa-users"></i> <span translate="ADMIN_DASHBOARD.SIDE_NAV.MEMBERS_IFRAME_PAGE.MEMBERS"></span></a>
		<ul class="treeview-menu">
	    <li ui-sref-active="active"><a ui-sref="members.page({path: 'client'})"><i class="fa fa-users"></i> <span translate="ADMIN_DASHBOARD.SIDE_NAV.MEMBERS_IFRAME_PAGE.ALL_CLIENTS"></span></a></li>
	    <li ui-sref-active="active"><a ui-sref="members.page({path: 'client/questions'})"><i class="fa fa-question-circle"></i> <span translate="ADMIN_DASHBOARD.SIDE_NAV.MEMBERS_IFRAME_PAGE.QUESTIONS"></span></a></li>
	    <li ui-sref-active="active"><a ui-sref="members.page({path: 'export_customers'})"><i class="fa fa-external-link"></i> <span translate="ADMIN_DASHBOARD.SIDE_NAV.MEMBERS_IFRAME_PAGE.EXPORT_TO_MAILCHIMP"></span></a>
		</ul>
	</li>
</ul>
