<ul class="sidebar-menu">
	<li ng-class="{active: isState('members')}">
		<a ui-sref="members"><i class="fa fa-users"></i> Members</a>
		<ul class="treeview-menu">
	    <li ui-sref-active="active"><a ui-sref="members.page({path: 'client'})"><i class="fa fa-users"></i> <span>All Clients</span></a></li>
	    <li ui-sref-active="active"><a ui-sref="members.page({path: 'client/questions'})"><i class="fa fa-question-circle"></i> <span>Questions</span></a></li>
	    <li ui-sref-active="active"><a ui-sref="members.page({path: 'export_customers'})"><i class="fa fa-external-link"></i> <span>Export to Mailchimp</span></a>
		</ul>
	</li>
</ul>	
