<div class="form-group" ng-class="{'has-error': hasError()}">
  <label class="control-label" ng-show="showTitle()">{{form.title}}</label>

  <p class="input-group" ng-init="datepicker = {isOpen: true}">
    <input
      uib-datepicker-popup="dd-MMMM-yyyy"
      ng-model="$$value$$"
      class="form-control"
      is-open="datepicker.isOpen"
      ng-disabled="form.readonly"
      ng-focus="datepicker.isOpen = true"
    ></input>
    <span class="input-group-btn">
      <button type="button" class="btn btn-default" bb-debounce
        ng-click="$event.preventDefault(); $event.stopPropagation();
        datepicker.isOpen = !datepicker.isOpen" ng-disabled="form.readonly">
        <i class="glyphicon glyphicon-calendar"></i>
      </button>
    </span>
  </p>

  <span class="help-block">{{ (hasError() && errorMessage(schemaError())) || form.description}}</span>
</div>
