<label for="file_upload" class="control-label col-sm-4">
    File upload:
</label>

<div class="col-sm-5">

  <button
    type="file"
    ngf-select="uploadFile(item, $file, $invalidFiles, item.attachment_id)"
    accept="">
      Select File
  </button>

  <div class="progress" ng-show="myFile.progress >= 0 && myFile.progress < 100">
    <div
      class="progress-bar"
      role="progressbar"
      aria-valuenow="{{myFile.progress}}"
      aria-valuemin="0"
      aria-valuemax="100"
      style="width:{{myFile.progress}}%">
    </div>
  </div>

</div>

<div class="col-sm-3 messages">

  <div ng-if="item.attachment_id">
    Currently uploaded file:
    <a ng-href="{{item.getAttachment().url}}">
      {{myFile.name}}
    </a>
  </div>

  <span class="text-danger" ng-show="showError">
    Upload failed
  </span>

  {{errFile.name}}
  {{errFile.$error}}
  {{errFile.$errorParam}}

</div>



