<button
  type="button"
  class="btn btn-default"
  ng-click="newEventChain()"
  translate="EVENTS.EVENT_CHAIN_TABLE.NEW_EVENT_CHAIN_BTN">
</button>
<table
  tr-ng-grid=""
  items="event_chains"
  fields="fields">
  <tbody>
  <tr>
    <td>
      <button
        type="button"
        class="btn btn-default btn-sm"
        ng-click="delete(gridDisplayItem.id)"
        translate="EVENTS.EVENT_CHAIN_TABLE.DELETE_BTN">
      </button>
      <button
        type="button"
        class="btn btn-default btn-sm"
        ng-click="edit(gridDisplayItem.id)"
        translate="EVENTS.EVENT_CHAIN_TABLE.EDIT_BTN">
      </button>
    </td>
  </tr>
  </tbody>
</table>
